<div class="tx_mgs_click_hole perfectScrollbar-wheel">

<!--tx_mgs_click_active-->

 <% @user_connections.each do |user| 
 	last_message = Message.getLastMessage(current_user,user.id)
	
	if last_message
		last_message_time = last_message.created_at
		last_message_time_str = last_message_time.strftime("%B")
	else
		last_message_time_str = ""
	end

 %>
      <div class="tx_mgs_click <% if user.id == @selected_user.id%>tx_mgs_click_active <%end%>">
		    <a href="#!" class="msg_receiver" data-receiver="<%= user.id%>">
				<div class="media tx_media">
				  <div class="media-left tx_media">
            <% if !user.linkedin_photo.blank? %>
                <%= image_tag user.linkedin_photo.to_s, :class=>"media-object" %>
            <% elsif !user.avatar_url.blank? %>
                <%= image_tag user.avatar_url.to_s, :class=>"media-object" %>
            <% end %>
          </div>
				  <div class="media-body tx_media_body">
					<h4 class=""><%= user.username%></h4>
					<p><%= user.name%> </p>
					<span><%= last_message_time_str%><%##= link_to image_tag("mgs-dlt.png", class:"delete_mgs"), messages_path(param1: 'value1', param2: 'value2'), method: :post %>
					<%= image_tag("mgs-dlt.png", class:"delete_mgs") %>
					</span> </div>
				</div>
            </a> 
		  </div>
  <% end %>
</div>

<%= form_tag(messages_path, id:"select_receiver_form") do %>
<input type="hidden" id="f_receiver_id" name="f_receiver_id">
<input type="hidden" id="f_mtype" name="mtype" value="<%= @mtype%>">
 
<% end %>

<%= form_tag(messages_path, id:"delete_form") do %>
<input type="hidden" id="f_receiver_id_del" name="f_receiver_id">
<input type="hidden" id="f_mtype" name="mtype" value="<%= @mtype%>"> 
<input type="hidden" name="deletemessage" value="d"> 

<% end %>

<script>

$(document).on("click",".msg_receiver",function (e) {
    var clicked = e.target.className;
	
    if(clicked == "delete_mgs"){
	
		var rec_id = $(this).data("receiver");
		$("#f_receiver_id_del").val(rec_id);
		$("#delete_form").submit();
        
    } else {
		var rec_id = $(this).data("receiver");
		$("#f_receiver_id").val(rec_id);
		$("#select_receiver_form").submit();
	}
    //return false;
});

</script>