
<div class="body_section_inner">

  <!--advance search result-->
  <div class="container">

    <div class="col-md-12">

      <div class="bc_white">


        <%= render :partial => 'partials/messages_header' %>



        <div class="tx_mgs_sender">

          <div class="col-md-3">

            <%= form_tag(messages_path, remote: true , id:"search_connections_form") do %>

            <div class="tx_search_filter">

              <input type="text" placeholder="Search" name="search">
              <a href="#!" onclick="document.getElementById('search_connections_form').submit();"><%= image_tag("search-filter-icon.png") %></a>

              <input type="hidden" id="f_mtype" name="mtype" value="<%= @mtype%>">

            </div>

            <% end %>

            <div id="connections_ajax_data">
              <% # render 'connections_ajax' , {:user_connections => @user_connections} %>
            </div>


          </div>


          <div class="col-md-9">
            <div class="tx_mgs_detail">

              <% #render 'messages_ajax' %>


              <div class="tx_mgs_detail_chat_box">

                <%= form_tag(messages_path, id:"send_form" , multipart: true) do %>

                <div class="tx_border">
                  <div class="tx_reply_forwad">
                    <!--<p>Click here to <a href="#!">reply</a> or <a href="#!"> forward</a></p>-->
                  </div>
                  <textarea name="m_message"></textarea>

                  <div class="tx_send_attachment">

                    <button type="submit" name="sendmessage">Send</button>

                    <label for="FileInput" class="pull-right" style="cursor: pointer;">

                      <%= image_tag("atchment.png") %>

                    </label>
                    <p id="msgfilename"></p>


                    <input type="file" name="file" id="FileInput" class="hidden">

                    <% if @selected_user%>
                        <input type="hidden" name="receiver_id" value="<%= @selected_user.id%>">
                        <input type="hidden" name="f_receiver_id" value="<%= @selected_user.id%>">
                    <% end %>

                    <input type="hidden" id="f_mtype" name="mtype" value="<%= @mtype%>">
                  </div>


                </div>



                <% end %>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
    <!--advance search result end-->
  </div>
</div>


<script type="text/javascript">
    $(function() {
        $("input:file").change(function (){
            var msgfileName = $(this).val();
            //$("#msgfilename").html(msgfileName);
            $("#msgfilename").html("File Selected");
        });
    });
</script>

<style>
    #msgfilename{

        float: right;
        margin-top: 12px;
        margin-right: 10px;
        float:right;
    }
</style>


