<!--body_section-inner-->
<div class="body_section_inner"> 
  
  <!--advance search result-->
  <div class="container">
  
  <div class="col-md-12">
  <div class="bc_white">
  
  <% if flash[:error].present?  %>
<br>
<ul class="alert alert-danger">
	  <li><%= flash[:error] %></li>
</ul>

<% elsif flash[:success].present?  %>
<br>
<ul class="alert alert-success">
      <li><%= flash[:success] %></li>
</ul>
	
<% end %>


    <div class="tx_activiti_fiulter">
      <div class="col-md-1">
        <div class="tx_tracker_box_round_content tx_small_round tx_small_round_brown">
          <p> L</p>
        </div>
      </div>
      <div class="col-md-11 tx_activiti_fiulter_content">
        <h1>Connections</h1>
		
        <div class="btn-group tx_btn_group"> 
        <div class=" tx_dropdown_toggl">
		
		<%= form_tag connections_path do %>

<select id="connections_select" name="ctype" onchange="this.form.submit()" class="selectpicker">
  <option value="all"  <% if params[:ctype]=='all'%>selected<% end%>>All</option>
  <option value="pending" <% if params[:ctype]=='pending'%>selected<% end%>>Pending</option>
  <option value="sent" <% if params[:ctype]=='sent'%>selected<% end%>>Sent</option>  
</select>

<% end %>


</div>        
        
          <div class="tx_click tx_click_org"><a href="#" data-toggle="modal"  data-target="#basicModal"><%= image_tag("conectionorg.png")%></a>
          
          </div>         

        </div>	
		
        </div>
      </div>
    
    <div class="editable_group" style="display:none;">
      <div class="col-md-4">
        <input type="text" class="editable_group_hd" placeholder="Editable Group Name">
      </div>
      <div class="col-md-12 right-pad-none">
        <ul class="save_cencel_btn">
          <li><a href="#" class="dlt_change">Delete Group</a></li>
          <li><a href="#" class="save_change">Save Changes</a></li>
        </ul>
      </div>
    </div>
    <div class="tx_search_result_table_container">
	
	 <div class="short_lits_container">
          <div class="col-md-4 ">
            <div class="checkbox checkbox-info checkbox_table">
              <input type="checkbox" id="checkbox1">
              <label for="checkbox1"> Select All </label>
            </div>
          </div>
          <div class="col-md-4">
            <p class="tx_short_list">Sort By<span id="sort_by_id" class="sort_by_id_desc">Recently Added
			<a href="#!">
			<i class="fa fa-sort-asc set_fa_arrow" aria-hidden="true"></i>
			
			<!--<%= image_tag("list-drop-arow.png") %>--></a>
			</span></p>
          </div>
          <div class="col-md-3 tx_search_filter_right">
            <div class="tx_search_filter  tx_search_table">
              <input type="text" placeholder="Search" id="search_connections">
              <a href="#!"><%= image_tag("search-filter-icon.png") %></a> </div>
          </div>
        </div>
	
      <table width="100%" border="0" class="tx_search_result_table tx_search_result_table_auto tx_search_result_plan border_top_table display" id="connection_list">
       
	   <thead>
            <tr>
			<th></th>
                <th></th>
                <th></th>
                <th></th>
				<th></th>
                <th></th>
				<th></th>
                <th></th>
                
                
            </tr>
        </thead>
	   
	   <tbody>
	   
	   <% @user_connections.each do |user| 
	   	  
		  if user.first_name
		  		uname = "#{user.first_name} #{user.last_name}"
		  else
		  		uname = "#{user.username}"
		  end
	   %>
        <tr>
		<td><span class="hide"><%= user.cid %></span></td>
          <td width="5%" height="56" class="result_img_icon result_img_icon_select"><div class="checkbox checkbox-info">
              <input type="checkbox" id="checkbox4">
              <label for="checkbox4"> </label>
            </div></td>
          <td width="4%" class="result_img_icon">
		  <%
			image_check = user_image(user)
		  %>
		  <%= image_check %>
		  
		  </td>
          <td width="18%" class="result_line"><p class="result_line_bold"><%= uname %></p></td>
          <td width="17%" class="result_line"><p class="result_line_bold"><%= user.firm_name %></p></td>
          <td width="31%" class="result_line"><p class="result_line_bold">Location</p></td>
          <td width="13%" class="result_line">
		  <% if user.status < 1 %>
		  		<%= link_to "Accept", connections_accept_path(:cid => user.cid), :class=>"accpt_btn", method: :post %>
		  <% end %>
		  </td>
          <td width="12%" class="result_line">
		  <% if user.status < 1 %>
		  		<%= link_to "Ignore", connections_ignore_path(:cid => user.cid), :class=>"ignore_btn" , method: :post %>
		  <% end %>
		  </td>
        </tr>
		<% end %>
		
		
		</tbody>
		
      </table>
      
      
      </div>
    </div>
	 </div>
    </div>
  </div>
  
  <!--advance search result end--> 
  
</div>
<!--body_section-inner-end--> 



<ul>
<!--main_body_section-start-->




<%= form_tag connections_add_path do %>

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog  tx_invite_modal-dialog">
        <div class="modal-content">
            <div class="modal-header  tx_invite_modal-header">
            <button type="button" class="close tx_close" data-dismiss="modal" aria-hidden="true"><%= image_tag("xras-icon.png") %></button>
            <h4 class="modal-title" id="myModalLabel">Add New Connections</h4>
            </div>
            <div class="modal-body tx_invite_modal-body">
			
                <input type="email" placeholder="Invite by email address" class="tx_invite_email" required name="email">
				
				<div class="text-center">               
                	<%= link_to "Add a personal message" , "#!"  , :class => "c_hide_me" %>
        		</div>
				
               <textarea placeholder="I'd like to share my comp database with you." id="c_show_textarea" style="display:none" name="p_message"></textarea>
            </div>
			
            <div class="modal-footer text-center">
               
                <button type="submit" class="btn btn-primary invite_save" >Save changes</button>
				
        </div>
    </div>
  </div>
</div>

<% end %>


<script>
$(document).ready(function() {
    //$('#example11').DataTable();
	
	//$('#connection_list').DataTable();	
	
	var c_table = $('#connection_list').dataTable({
    	
	});
 
	// #myInput is a <input type="text"> element
	$('#search_connections').on( 'keyup', function () {
		/*c_table.search( this.value ).draw();*/
		c_table.fnFilter(this.value);
		
	} );
	
	$(document).on("click",".sort_by_id_desc",function() {
		$('.sort_by_id_desc').toggleClass('sort_by_id_desc sort_by_id_asc');
		$('.set_fa_arrow').toggleClass('fa-sort-asc fa-sort-desc');
		
		/*c_table.fnSort(0);*/
		c_table.fnSort([ [0,'desc']] );
	});
	
	
	$(document).on("click",".sort_by_id_asc",function() {
		$('.sort_by_id_asc').toggleClass('sort_by_id_desc sort_by_id_asc');
		$('.set_fa_arrow').toggleClass('fa-sort-desc fa-sort-asc');
		/*c_table.fnSort(0);*/
		c_table.fnSort([ [0,'asc']] );
	});
	
	
	
	
	$(".c_hide_me").click(function(){
    	$(".c_hide_me").hide();
		$("#c_show_textarea").show();
	});
	
} );
</script>

<style>
table.dataTable thead th {padding:0px !important;}
table.dataTable thead th {border-bottom:0px solid #111 !important;}
table.dataTable.no-footer {border-bottom:1px solid #ccc !important;}
.dataTables_length{display:none;}
.dataTables_filter{display:none;}
.dataTables_paginate{display:none;}
.dataTables_info{display:none;}
#sort_by_id{cursor:pointer;}
/*.set_fa_arrow{position:relative;bottom:3px;}*/
.sorting_1{padding:0px !important;}

</style>




