<!--main_body_section-start-->
<div class="main_edit_section">
  <div class="container">
  <div class="col-md-12">
  <h1 class="main_edit_hadding">Edit/ Complete Profile</h1>
  </div>
  <div class="col-md-12">
  <div class="edit_content_eria">
  <div class="col-md-12 col-sm-12 tx_profilebtn_section">
  <h2>Profile</h2>
  
  <ul>
 
  <li><a href="#!" class="tx_linkdin_profile">Sync LinkedIn Profilee </a> <a title="" data-toggle="tooltip" class="tx_linkdin_help" href="#" data-original-title="linkin"><img src="img/question-tol-tipp.jpg"></a></li>
   <li><a href="#!" class="tx_save_profile">Save Profile</a></li>
  </ul>
  
  </div>
  <div class="tx_edit_full_width tx_edit_margin">
  <div class="col-md-3 col-sm-3">
  	<div class="tx_upload_img">
    <img src="img/upload.jpg">
    <label class="myLabel">
    <input type="file" required/>
    <span><img src="img/upload-icon.png"> Change Image</span>
</label>
    </div>
  </div>
  <div class="col-md-3 col-sm-3">
  <ul class="tx_profile_information">
  <li class="tx_bold">Basic Information</li>
  <li>Username*</li>
  <li>Firstname*</li>
  <li>Lastname*</li>
  <li>Title</li>
  </ul>
  
  </div>
  <div class="col-md-3 col-sm-3">
  <ul class="tx_profile_information">
  <li class="tx_bold"></li>
  <li>TheGuy</li>
  <li>Adrian</li>
  <li>Hessen</li>
  <li>The Boss</li>
  </ul>
  </div>
  <div class="col-md-3 col-sm-3">
  <ul class="tx_profile_information">
  <li class="tx_bold"></li>
  <li><a href="#">Edit</a></li>
  <li><a href="#">Edit</a></li>
  <li><a href="#">Edit</a></li>
  <li><a href="#">Edit</a></li>
  </ul>
  </div>
  </div>
   <div class="tx_edit_full_width ">
  <div class="col-md-3 col-sm-3">
  	
  </div>
  <div class="col-md-3 col-sm-3">
  
  <ul class="tx_profile_information">
  <li class="tx_bold">Contact Information</li>
  <li>Business Email*</li>
  <li>Mobile Phone #*</li>
  <li>Firm Name*</li>
  <li>Street Address*</li>
  <li>City*</li>
  <li>State*</li>
  <li>Zip Code*</li>
  <li>Website</li>
  </ul>
  </div>
  <div class="col-md-3 col-sm-3">
  <ul class="tx_profile_information">
  <li class="tx_bold"></li>
  <li>ahessen@g.com</li>
  <li>111-121-2255</li>
  <li>G Firm</li>
  <li>12 Broad Street</li>
   <li>Baltimore,</li>
  <li>MD</li>
  <li>21231</li>
   <li>theg.com</li>
  </ul>
  </div>
  <div class="col-md-3 col-sm-3">
  <ul class="tx_profile_information">
  <li class="tx_bold"></li>
  <li><a href="#">Edit</a></li>
  <li><a href="#">Edit</a></li>
  <li><a href="#">Edit</a></li>
  <li><a href="#">Edit</a></li>
  <li><a href="#">Edit</a></li>
  <li><a href="#">Edit</a></li>
  <li><a href="#">Edit</a></li>
  <li><a href="#">Edit</a></li>
  </ul>
  </div>
  
  </div>
  <div class="col-md-12 col-sm-12 tx_profilebtn_section">
  
  
  <ul>
 
  
   <li><a href="#!" class="tx_save_profile">Save Profile</a></li>
  </ul>
  
  </div>
  </div>
   </div>
  </div>
</div>
<!--main_body_section-end--> 



<!--<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= mobile_verification_button %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>-->
