<!--main_body_section-start-->

<%= form_for(:user, url: profile_update_path, html: { method: :post }) do |f| %>

<div class="main_edit_section">
  <div class="container">
  <div class="col-md-12">
  <h1 class="main_edit_hadding">Edit/ Complete Profile</h1>
  </div>
  <div class="col-md-12">
<% if false %>
<% if flash[:error].present?  %>

<ul class="alert alert-danger">
	  <% flash[:error].each do |msg| %>
      <li><%= msg %></li>
	<% end %>
</ul>

<% elsif flash[:success].present?  %>

<ul class="alert alert-success">
      <li><%= flash[:success] %></li>
</ul>
	
<% end %>
<% end %>
  <div class="edit_content_eria">
  <div class="col-md-12 col-sm-12 tx_profilebtn_section">
  <h2>Profile</h2>
  
  <ul>
 
  <li><a href="#!" class="tx_linkdin_profile">Sync LinkedIn Profile </a> <a title="" data-toggle="tooltip" class="tx_linkdin_help" href="#" data-original-title="linkin"><%= image_tag("question-tol-tipp.jpg")%></a></li>
   <li>
   <%= f.submit "Save Profile" , :class => "tx_save_profile" %>
   </li>
  </ul>
  
  </div>
  <div class="tx_edit_full_width tx_edit_margin">
  <div class="col-md-3 col-sm-3">
  	<div class="tx_upload_img">
	
	<%###= image_tag current_user.avatar_url.to_s %>
	
	<%= image_tag current_user.avatar_url.to_s %>
	
	<%###= image_tag("upload.jpg")%>
    
    <label class="myLabel">
    <!--<input type="file"/>-->
    <span id="select_p_image"><%= image_tag("upload-icon.png")%> Change Image</span>
</label>
    </div>
  </div>
  <div class="col-md-3 col-sm-3">
  <ul class="tx_profile_information">
  <li class="tx_bold">Basic Information</li>
  <li>Username*</li>
  <li>First Name*</li>
  <li>Last Name*</li>
  <li>Title</li>
  </ul>
  
  </div>
  <div class="col-md-3 col-sm-3">
  <ul class="tx_profile_information">
  <li class="tx_bold"></li>
  <li class="inline-edit-text">&nbsp;<span><%= current_user.username%></span><%= f.hidden_field :username %></li>
  <li class="inline-edit-text">&nbsp;<span><%= current_user.first_name%></span><%= f.hidden_field :first_name %></li>
  <li class="inline-edit-text">&nbsp;<span><%= current_user.last_name%></span><%= f.hidden_field :last_name %></li>
  <li class="inline-edit-text">&nbsp;<span><%= current_user.title%></span><%= f.hidden_field :title %></li>
  </ul>
  </div>
  <div class="col-md-3 col-sm-3">
  <ul class="tx_profile_information">
  <li class="tx_bold"></li>
  <li><a href="javacript:void()" class="inline-edit">Edit</a></li>
  <li><a href="javacript:void()" class="inline-edit">Edit</a></li>
  <li><a href="javacript:void()" class="inline-edit">Edit</a></li>
  <li><a href="javacript:void()" class="inline-edit">Edit</a></li>
  </ul>
  </div>
  </div>
   <div class="tx_edit_full_width ">
  <div class="col-md-3 col-sm-3">
  	
  </div>
  <div class="col-md-3 col-sm-3">
  
  <ul class="tx_profile_information">
  <li class="tx_bold">Contact Information</li>
  <li>Business Email*</li>
  <li>Mobile Phone #*</li>
  <li>Firm Name*</li>
  <li>Street Address*</li>
  <li>City*</li>
  <li>State*</li>
  <li>Zip Code*</li>
  <li>Website</li>
  </ul>
  </div>
  <div class="col-md-3 col-sm-3">
  <ul class="tx_profile_information">
  <li class="tx_bold"></li>
  <li class="inline-edit-text">&nbsp;<span><%= current_user.email%></span><%= f.hidden_field :email %></li>
  <li class="inline-edit-text">&nbsp;<span><%= current_user.mobile%></span><%= f.hidden_field :mobile %></li>
  <li class="inline-edit-text">&nbsp;<span><%= current_user.firm_name%></span><%= f.hidden_field :firm_name %></li>
  <li class="inline-edit-text">&nbsp;<span><%= current_user.address%></span><%= f.hidden_field :address %></li>
  <li class="inline-edit-text">&nbsp;<span><%= current_user.city%></span>,<%= f.hidden_field :city %></li>
  <li class="inline-edit-text">&nbsp;<span><%= current_user.state%></span><%= f.hidden_field :state %></li>
  <li class="inline-edit-text">&nbsp;<span><%= current_user.zip%></span><%= f.hidden_field :zip %></li>
  <li class="inline-edit-text">&nbsp;<span><%= current_user.website%></span><%= f.hidden_field :website %></li>
  </ul>
  </div>
  <div class="col-md-3 col-sm-3">
  <ul class="tx_profile_information">
  <li class="tx_bold"></li>
  <li><a href="javacript:void()" class="inline-edit">Edit</a></li>
  <li><a href="javacript:void()" class="inline-edit">Edit</a></li>
  <li><a href="javacript:void()" class="inline-edit">Edit</a></li>
  <li><a href="javacript:void()" class="inline-edit">Edit</a></li>
  <li><a href="javacript:void()" class="inline-edit">Edit</a></li>
  <li><a href="javacript:void()" class="inline-edit">Edit</a></li>
  <li><a href="javacript:void()" class="inline-edit">Edit</a></li>
  <li><a href="javacript:void()" class="inline-edit">Edit</a></li>
  </ul>
  </div>
  
  </div>
  <div class="col-md-12 col-sm-12 tx_profilebtn_section">
  <ul>
    <li>
   <%= f.submit "Save Profile" , :class => "tx_save_profile" %>
   </li>
  </ul>
  
  </div>
  </div>
 
   </div>
  </div>
</div>

<% end %>

<%= form_for(:user, url: profile_picture_path, html: { :multipart => true , :id => 'upload_p_form' }) do |f| %>

<div class="hide"> 
   <%= f.file_field :avatar , :id => "upload_me" %>
</div>

<% end %>

<script>
$(document).ready(function() {

 $(".inline-edit").click(function() { 
 
 click_index = $(this).closest('.inline-edit').index('.inline-edit');

 var edit_text = $( ".main_edit_section" ).find( "li.inline-edit-text" ).eq( click_index );
 edit_text.addClass("set-editable-css");
 edit_text.find("span").hide();
 edit_text.find("input").attr('type', 'text'); 

 
  
 });

});

$('#select_p_image').on('click', function() {
    $('#upload_me').trigger('click');
	
	$('#upload_me').change(function() {
  		$('#upload_p_form').submit();
	});
});
</script>

<style>
.set-editable-css{ margin-bottom:7px !important; }
</style>

<!--main_body_section-end--> 