<div class="fixed-width-div">
  <%= render partial: 'uploader/shared/import_comp_header', :locals => { :active_tab => 'add_single_record' } %>
  <div class="columns large-12 white-area">
    <div class="fields-table-custom-data" style="width: 60%; margin: 20px auto">
      <h2>Custom Record</h2>
      <table>
        <tr>
          <td>Name</td>
          <td><%= @custom_record.name %></td>
        </tr>
        <% @custom_record.rows.each do |arr|
                record = arr[1]
                record.keys.each do |key|
        %>
                    <tr>
                      <td><%= key.capitalize %></td>
                      <td><%= record[key] %></td>
                    </tr>
                <%
                    end
                %>
            <% if @custom_record.is_geo_coded %>
                <tr>
                  <td colspan="2" style="text-align: center;">
                    <a href="<%= "http://www.google.com/maps?cbll=#{record["latitude"]},#{record["longitude"]}&layer=c" %>" target="_blank">
                      <img src="<%= "http://maps.googleapis.com/maps/api/streetview?size=383x270&location=#{record["address1"]},#{record["city"]},#{record["state"]},#{record["zipcode"]}&key=#{ENV['google_geocode_key']}" %>" />
                    </a>
                  </td>
            <% end %>

        <% end %>

        </tr>
      </table>
    </div>

  </div>


</div>

