
<div class="main_body_section">
  <div class="container">


    <div class="row">
      <div class="Absolute-Center is-Responsive">


        <div class="col-sm-12 col-md-12 ">

          <div class="tx_form_container">

            <!--<p><%= notice %></p>-->

            <% if alert %>
                <p class="alert alert-danger"><%= alert %></p>
            <% end %>

            <h1>Enter your Mobile number</h1>

            <%= image_tag("login-border-shape.jpg",width: "100%")%>

            <%= enter_mobile_number_form %>

            <br>

            <%= image_tag("login-border-shape.jpg",width: "100%")%>

            <br>

          </div>


        </div>
      </div>
    </div>

  </div>
</div>

<style>
  .tx_form_container{margin-top:0px;}
</style>



