






<!------------------------------------------------------------------------------------------------->

<!--<form id="advanced-search-form" action="<%= search_advanced_path() %>" method="post">-->

<!--<div id="<%= 'run_search' if search_params %>" class="hidden_fields">-->
          <!--<input type="hidden" id="tenant_record_order" name="tenant_record[order]" value="<%= (search_params[:tenant_record][:order] if search_params and search_params[:tenant_record].present?) || 'address1' %>" />-->
          <!--<input type="hidden" id="tenant_record_offset" name="tenant_record[offset]" value="<%= (search_params[:tenant_record][:offset] if search_params and search_params[:tenant_record].present?) || 0 %>" />-->
          <!--<input type="hidden" id="tenant_record_page" name="tenant_record[page]" value="<%= (search_params[:tenant_record][:page] if search_params and search_params[:tenant_record].present?) || 1 %>" />-->
          <!--<input type="hidden" id="tenant_record_latitude" name="tenant_record[latitude]" value="<%= search_params[:tenant_record][:latitude] if search_params and search_params[:tenant_record].present? %>" />-->
          <!--<input type="hidden" id="tenant_record_longitude" name="tenant_record[longitude]" value="<%= search_params[:tenant_record][:longitude] if search_params and search_params[:tenant_record].present? %>" />-->
          <!--<input type="hidden" id="tenant_record_map_mode" name="tenant_record[map_mode]" value="<%= search_params[:tenant_record][:map_mode] if search_params and search_params[:tenant_record].present? %>" />-->
          <!--<input type="hidden" id="tenant_record_cost_display" name="tenant_record[cost_display]" value="<%= (search_params[:tenant_record][:cost_display] if search_params and search_params[:tenant_record].present?) || 'yr' %>" />-->
          <!--&lt;!&ndash;<input type="hidden" id="tenant_record_property_type" name="tenant_record[property_type][]" value="<%= (search_params[:tenant_record][:property_type].first if search_params and search_params[:tenant_record].present? and search_params[:tenant_record][:property_type].present?) || TenantRecord.const_get('PROPERTY_TYPE').first %>" />&ndash;&gt;-->
          <!---->
		  <!--&lt;!&ndash;<input type="checkbox" id="tenant_record_disable_internal_comps" name="tenant_record[disable_comp_type][]" value="internal" <%= "checked" if search_params and search_params[:tenant_record].present? and search_params[:tenant_record].has_key? :disable_comp_type and search_params[:tenant_record][:disable_comp_type].include? 'internal' %> />-->
          <!---->
		  <!--<input type="checkbox" id="tenant_record_disable_market_comps" name="tenant_record[disable_comp_type][]" value="market" <%= "checked" if search_params and search_params[:tenant_record].present? and search_params[:tenant_record].has_key? :disable_comp_type and search_params[:tenant_record][:disable_comp_type].include? 'market' %> />-->
          <!---->
		  <!--<input type="checkbox" id="tenant_record_disable_confidential_comps" name="tenant_record[disable_view_type][]" value="confidential" <%= "checked" if search_params and search_params[:tenant_record].present? and search_params[:tenant_record].has_key? :disable_view_type and search_params[:tenant_record][:disable_view_type].include? 'confidential' %>  />-->
          <!---->
		  <!--<input type="checkbox" id="tenant_record_disable_private_comps" name="tenant_record[disable_view_type][]" value="private"<%= "checked" if search_params and search_params[:tenant_record].present? and search_params[:tenant_record].has_key? :disable_view_type and search_params[:tenant_record][:disable_view_type].include? 'private' %>  />-->
          <!---->
		  <!--<input type="checkbox" id="tenant_record_disable_network" name="tenant_record[disable_network]" value="true" <%= "checked" if search_params and search_params[:tenant_record].present? and search_params[:tenant_record].has_key? :disable_network %> />-->
          <!--&ndash;&gt;-->
		  <!---->
		  <!---->
		  <!--<% if search_params and search_params[:tenant_record].present? and search_params[:tenant_record].has_key? :disable_tenant_record_id %>-->
            <!--<% search_params[:tenant_record][:disable_tenant_record_id].each do |tid| %>-->
            <!--<input id="tenant_record_disabled_tenant_record_<%= tid %>" name="tenant_record[disable_tenant_record_id][]" type="hidden" class="disabled_tenant_record_id" value="<%= tid %>" />-->
            <!--<% end  %>-->
          <!--<% end %>-->
        <!--</div>-->
		
		<div id="map_filter" class="map_container criteria_layout"><!--{{{-->
          <div id="the_map"></div>
        </div><!--}}}-->

<div class="panel panel-default" id="advanced_search_new">
  <div class="panel-heading tx_panel-heading">
    <div class="container">
      <h4 class="panel-title"> <a class="accordion-toggle header" data-toggle="collapse" data-parent="#accordion" href="#panel1">Advanced Search</a> </h4>
    </div>
  </div>






  <form id="advanced-search-form" action="<%= search_advanced_path() %>" method="post">
  <div id="<%= 'run_search' if search_params %>" class="hidden_fields">
    <input type="hidden" id="tenant_record_order" name="tenant_record[order]" value="<%= (search_params[:tenant_record][:order] if search_params and search_params[:tenant_record].present?) || 'address1' %>" />
    <input type="hidden" id="tenant_record_offset" name="tenant_record[offset]" value="<%= (search_params[:tenant_record][:offset] if search_params and search_params[:tenant_record].present?) || 0 %>" />
    <input type="hidden" id="tenant_record_page" name="tenant_record[page]" value="<%= (search_params[:tenant_record][:page] if search_params and search_params[:tenant_record].present?) || 1 %>" />
    <input type="hidden" id="tenant_record_latitude" name="tenant_record[latitude]" value="<%= search_params[:tenant_record][:latitude] if search_params and search_params[:tenant_record].present? %>" />
    <input type="hidden" id="tenant_record_longitude" name="tenant_record[longitude]" value="<%= search_params[:tenant_record][:longitude] if search_params and search_params[:tenant_record].present? %>" />
    <input type="hidden" id="tenant_record_map_mode" name="tenant_record[map_mode]" value="<%= search_params[:tenant_record][:map_mode] if search_params and search_params[:tenant_record].present? %>" />
    <input type="hidden" id="tenant_record_cost_display" name="tenant_record[cost_display]" value="<%= (search_params[:tenant_record][:cost_display] if search_params and search_params[:tenant_record].present?) || 'yr' %>" />
    <!--<input type="hidden" id="tenant_record_property_type" name="tenant_record[property_type][]" value="<%= (search_params[:tenant_record][:property_type].first if search_params and search_params[:tenant_record].present? and search_params[:tenant_record][:property_type].present?) || TenantRecord.const_get('PROPERTY_TYPE').first %>" />-->

    <!--<input type="checkbox" id="tenant_record_disable_internal_comps" name="tenant_record[disable_comp_type][]" value="internal" <%= "checked" if search_params and search_params[:tenant_record].present? and search_params[:tenant_record].has_key? :disable_comp_type and search_params[:tenant_record][:disable_comp_type].include? 'internal' %> />

		  <input type="checkbox" id="tenant_record_disable_market_comps" name="tenant_record[disable_comp_type][]" value="market" <%= "checked" if search_params and search_params[:tenant_record].present? and search_params[:tenant_record].has_key? :disable_comp_type and search_params[:tenant_record][:disable_comp_type].include? 'market' %> />

		  <input type="checkbox" id="tenant_record_disable_confidential_comps" name="tenant_record[disable_view_type][]" value="confidential" <%= "checked" if search_params and search_params[:tenant_record].present? and search_params[:tenant_record].has_key? :disable_view_type and search_params[:tenant_record][:disable_view_type].include? 'confidential' %>  />

		  <input type="checkbox" id="tenant_record_disable_private_comps" name="tenant_record[disable_view_type][]" value="private"<%= "checked" if search_params and search_params[:tenant_record].present? and search_params[:tenant_record].has_key? :disable_view_type and search_params[:tenant_record][:disable_view_type].include? 'private' %>  />

		  <input type="checkbox" id="tenant_record_disable_network" name="tenant_record[disable_network]" value="true" <%= "checked" if search_params and search_params[:tenant_record].present? and search_params[:tenant_record].has_key? :disable_network %> />
          -->


    <% if search_params and search_params[:tenant_record].present? and search_params[:tenant_record].has_key? :disable_tenant_record_id %>
        <% search_params[:tenant_record][:disable_tenant_record_id].each do |tid| %>
            <input id="tenant_record_disabled_tenant_record_<%= tid %>" name="tenant_record[disable_tenant_record_id][]" type="hidden" class="disabled_tenant_record_id" value="<%= tid %>" />
        <% end  %>
    <% end %>
  </div>
  <div id="panel1" class="panel-collapse collapse tx_background_black">
    <div class="container">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 tx_clear_fix"> 
		  
		  <button id="advanced-search-submit" class="btn btn-danger hide"><span>Apply Filters</span></button>
		  
		  <a href="#!" class="tx-filter-btn adv_trr">Apply Filters</a>

            <button type="reset" class="clear-btn"><span>Clear All</span></button>

		  <!--<a href="#!" class="clear-btn">Clear All</a> -->
          </div>
          <div class="col-md-4 col-sm-4 both-pad-none">
            <div class="col-md-6 col-sm6 formgroup_input"> <span>Data Type</span>
              <div class="btn-group tx_btn_group"> 
			   <div class="tx_dropdown_toggl tx-drop-down-select">
                        <select class="selectpicker filters_type" name="record_type123">
                          <option value="lease">Lease</option>
                          <option value="sale">Sales</option>

                        </select>
                      </div>

                <select class="h_filters_type hide" name="record_type">
                  <option value="lease">Lease</option>
                  <option value="sale">Sales</option>

                </select>
				
              </div>
            </div>
            <div class="col-md-6 col-sm-6 formgroup_input"> <span>Property Type </span>
              <div class="boxes lease_filter">
                <div class="col-md-12">
                  <div class="checkbox checkbox-info">
                    <input type="checkbox" id="checkbox7" >
                    <label for="checkbox7"> Select All </label>
                  </div>
                  <% TenantRecord::NEW_PROPERTY_TYPE.all.each do |pt|  %>
					   <div class="checkbox checkbox-info all_clicked">
	                    <input type="checkbox" id="checkbox8" name="tenant_record[property_type][]" value="<%= pt.name%>">
	                    <label for="checkbox8"> <%= pt.name.capitalize %> </label>
	                  </div>                  
				  <% end %>
                </div>
              </div>
             
              
              
              <div class="boxes sales_filter">
                <div class="col-md-12">
                  <div class="checkbox checkbox-info">
                    <input type="checkbox" id="checkbox77" >
                    <label for="checkbox7"> Select All </label>
                  </div>
                  				  
				  <% SaleRecord::all_property_type.each do |pt|  %>
					   <div class="checkbox checkbox-info all_clicked77">
	                    <input type="checkbox" id="checkbox88" name="tenant_record[property_type][]" value="<%= pt %>" class="sales_filter_input">
	                    <label for="checkbox88"> <%= pt.capitalize %> </label>
	                  </div>                  
				  <% end %>         
                             
                </div>   
                
              </div>
              
              
              
            </div>
          </div>


          <div class="col-md-8 col-sm-8 both-pad-none">
            <div class="col-md-3 col-sm-3 formgroup_input"> <span>SQ FT Range</span>
              <div class="btn-group tx_btn_group">
              <div class="tx_dropdown_toggl tx-drop-down-select">
              <select class="selectpicker lease_filter lease_filter_input resetit" name="tenant_record[sq_ft_range]">
                <option value="">Choose</option>
                <option value="0-3999">0 - 3,999</option>
                <option value="4000-9999">4,000 - 9,999</option>
                <option value="10000-19999">10,000 - 19,999</option>
                <option value="20000-49000">20,000 - 49,000</option>
                <option value="50000">50,000+</option>
              </select>
              
              <select class="selectpicker sales_filter sales_filter_input resetit" name="tenant_record[sq_ft_range]" disabled="disabled" >
                <option value="">Choose</option>
                <option value="0-49000">0 - 49,000</option>
                <option value="50000-99999">50,000 - 99,999</option>
                <option value="100000-499999">100,000 - 499,999</option>
                <option value="500000-999000">500,000 - 999,000</option>
                <option value="999000">1MM+</option>
              </select>
              
              
              
              </div>
              </div>
			
			<!--<input id="size_min" tabindex="10" name="tenant_record[size_min]" type="text" placeholder="Minimum" value="<%= search_params[:tenant_record][:size_min] if search_params and search_params[:tenant_record].present? %>" />
			
			
              <span class="to">To</span>
			  
              <input id="size_max" tabindex="10" name="tenant_record[size_max]" type="text" placeholder="Maximum" value="<%= search_params[:tenant_record][:size_max] if search_params and search_params[:tenant_record].present? %>" />-->
			  
			  
			      <!--<input type="text" placeholder=""  name="tenant_record[size_min]" class="col-6" value="<%= search_params[:tenant_record][:size_min] if search_params and search_params[:tenant_record].present? %>" >-->
              <!--<b class="pull-left sfbold"> -&nbsp;</b>-->
              <!--<input type="text" placeholder="" name="tenant_record[size_max]" class="col-6" value="<%= search_params[:tenant_record][:size_max] if search_params and search_params[:tenant_record].present? %>" >-->
            </div>

            <div class="col-md-3 col-sm-3 formgroup_input sales_filter"> <span>Year Sold</span>
              <div class="btn-group tx_btn_group">
                <input type="text" placeholder="MM/YYYY"  name="tenant_record[sold_year_min]" class="col-6 sales_filter_input date-picker year_sold" disabled="disabled" value="<%#= search_params[:tenant_record][:size_min] if search_params and search_params[:tenant_record].present? %>">
                <b class="pull-left sfbold"> -&nbsp;</b>
                <input type="text" placeholder="MM/YYYY" name="tenant_record[sold_year_max]" class="col-6 sales_filter_input date-picker year_sold" disabled="disabled" value="<%#= search_params[:tenant_record][:size_max] if search_params and search_params[:tenant_record].present? %>">

                <!--<div class="tx_dropdown_toggl tx-drop-down-select">-->
                        <!--<select class="selectpicker">-->
                          <!--<option>Choose</option>-->
                        <!--</select>-->
                      <!--</div>-->
				
              </div>
            </div>
            <div class="col-md-3 col-sm-3 formgroup_input"> <span>Class Type</span>
              <div class="btn-group tx_btn_group">
			  
			  <div class="tx_dropdown_toggl tx-drop-down-select">
                        <select class="selectpicker resetit" name="tenant_record[class_type]">
                          <option value="">Choose</option>
                          <option value="a">A</option>
                          <option value="b">B</option>
                          <option value="c">C</option>
                        </select>
                      </div>
				
              </div>
            </div>
            <div class="col-md-3 col-sm-3 formgroup_input"> <span>Filter by Connections</span>
              <div class="btn-group tx_btn_group">


			  <div class="tx_dropdown_toggl tx-drop-down-select">
          <%= select("tenant_record", "connection", Connection.all_connections_of_user(current_user.id).collect {|c| [ c.connection_name(current_user,c), c.connection_id(current_user,c) ] }, {:include_blank => 'Choose'},{ :class => 'selectpicker resetit' }) %>

                        <!--<select class="selectpicker">-->
                          <!--<option>Choose</option>-->
                        <!--</select>-->
        </div>
				
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12 both-pad-none lease_filter">
              <div class="col-md-3 col-sm-3  formgroup_range"> <span>Deal type</span>
              	
              	
              <div class="tx_dropdown_toggl tx-drop-down-select">              	
              			 <%= select_tag 'tenant_record[lease_type]',
                             options_for_select(TenantRecord::all_deal_type.map { |s| [s.titleize, s] }),
                             prompt: 'Choose', 
                             class: 'selectpicker lease_filter_input resetit', 
                             id: "tenant_record_lease_type" 
                		  %>
              </div>
              
                             
                
              </div>
              <div class="col-md-3 col-sm-3  formgroup_range"> <span>Industry</span>



			  
			  <div class="tx_dropdown_toggl tx-drop-down-select">
                         <%= select_tag 'tenant_record[industry_type]',
                             options_for_select(TenantRecord::all_industry_type.map { |s| [s.name.titleize, s.name] }), 
                             prompt: 'Choose', 
                             class: 'selectpicker lease_filter_input resetit', 
                             id: 'industry_type' 
                         %>                        
                             
                <!-- <input type="hidden" id="industry" name="tenant_record[industry_type]" value="<%= search_params[:tenant_record][:industry_type] if search_params and search_params[:tenant_record].present? %>" /> -->
                <!-- <input id="industry_type" class="col-12 lease_filter_input" name="tenant_record[industry_type]" placeholder="Industry Type" type="text" tabindex="11" value="<%= search_params[:tenant_record][:industry_type] if search_params and search_params[:tenant_record].present? %>" /> -->
			  </div>

                <!--<input type="text" placeholder="" class="col-12 lease_filter_input" name="tenant_record[industry_type]" id="tenant_record_lease_type">-->
              </div>
              <div class="col-md-3 col-sm-3  formgroup_range" > <span>Date Range</span>
                <input id="lease_commencement_date_min" class="lease_filter_input date-picker date_range" tabindex="10" name="tenant_record[lease_commencement_date_min]" type="text" placeholder="MM/YYYY" value="<%= search_params[:tenant_record][:lease_commencement_date_min] if search_params and search_params[:tenant_record].present? %>" />
                <!--<input type="text" class="lease_filter_input">-->
                <b> - </b>
                <input id="lease_commencement_date_max" class="lease_filter_input date-picker date_range" tabindex="10" name="tenant_record[lease_commencement_date_max]" type="text" placeholder="MM/YYYY" value="<%= search_params[:tenant_record][:lease_commencement_date_max] if search_params and search_params[:tenant_record].present? %>" />
                <!--<input type="text" class="lease_filter_input">-->
              </div>
            </div>



            <div class="col-md-12 col-sm-12 both-pad-none sales_filter">
              <div class="col-md-4 col-sm-4  formgroup_range"> <span>Price Range</span>
                <input type="text" placeholder="$" class="sales_filter_input" disabled="disabled" name="tenant_record[price_min]">
                <b> - </b>
                <input type="text" placeholder="$" class="sales_filter_input" disabled="disabled" name="tenant_record[price_max]">
              </div>
              <div class="col-md-4 col-sm-4  formgroup_range"> <span>Cap Range</span>
                <input type="text" placeholder="%" class="text-right sales_filter_input" disabled="disabled" name="tenant_record[cap_min]">
                <b> - </b>
                <input type="text" placeholder="%" class="text-right sales_filter_input" disabled="disabled" name="tenant_record[cap_max]">
              </div>
              <div class="col-md-4 col-sm-4  formgroup_range" > <span>Built Range (year)</span>
                <input type="text" class="sales_filter_input date-picker" disabled="disabled" name="tenant_record[build_year_min]" placeholder="MM/YYYY">
                <b> - </b>
                <input type="text" class="sales_filter_input date-picker" disabled="disabled" name="tenant_record[build_year_max]" placeholder="MM/YYYY">
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <!--Advanced Search-tab-end-->
  </form>
</div>

<!--</form>-->

<style>
   .ui-widget-header .ui-icon{background-image:url("assets/ui-icons.png");}
</style>

<script>
  var search_basic_path_js = '<%= search_basic_path() %>';
  var search_advanced_path_js = '<%= search_advanced_path() %>';

  var search_simple_path_js = '<%= search_simple_path() %>';
  var search_sales_path_js = '<%= search_sales_path() %>';


</script>

