
<div class="tx_activiti_fiulter">
  <div class="col-md-1">
    <div class="tx_tracker_box_round_content tx_small_round tx_small_round_brown">
      <p> C</p>
    </div>
  </div>
  <div class="col-md-11 tx_activiti_fiulter_content">
    <h1>Connections</h1>
    <div class="font-class">Add </br>Connection</div>
    <div class="btn-group tx_btn_group">

      <div class=" tx_dropdown_toggl">

        <%= form_tag connections_path do %>

            <select id="connections_select" class="selectpicker">
              <option value="1" data-href="<%= connections_url %>"  <%= "selected" if controller_name == 'connections' %> > All</option>
              <option value="2" data-href="<%= connection_requests_path('incoming') %>"  <%= "selected" if params[:direction] == 'incoming' %> >Incoming</option>
              <option value="3" data-href="<%= connection_requests_path('outgoing') %>"  <%= "selected" if params[:direction] == 'outgoing' %> >Sent</option>
              <option value="4" data-href="<%= groups_url %>"  <%= "selected" "selected" if controller_name == 'groups' %> >Groups</option>
            </select>

        <% end %>


      </div>

      <div class="tx_click tx_click_org"><a href="#" data-toggle="modal"  data-target="#basicModal"><%= image_tag("conectionorg.png")%></a>

      </div>

    </div>

  </div>
</div>