<tr>
  <td height="51" class="result_lock_icon">
        
    <% if activity_log.receiver_id == current_user.id %>
    
    	<% if activity_log.status=='Rejected' %>
    		<a href="#!" class="set_aid" data-aid="<%= activity_log.id%>" data-status="Unlock" data-toggle="modal"  data-target="#Modaloptions2" >Declined</a>
    	<% elsif activity_log.status=='full_owner' %>
    		Approved (<%= ActivityLog::TIRES[activity_log.status]%>)
    	<% else %>
    		<a href="#!" class="set_aid" data-aid="<%= activity_log.id%>" data-status="Unlock" data-toggle="modal"  data-target="#Modaloptions1" >Approved</a> (<%= ActivityLog::TIRES[activity_log.status]%>)
    	<% end %>
    	
    <% end %>

  </td>
  <td class="result_line border_full"><p><%= search_sale_comp_path()%>/<%= activity_log.sale_record.id%>"><i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i></a></p></td>
  <td class="result_line border_full"><p><%= activity_log.created_at.strftime('%m/%d/%Y') %></p></td>
  <td class="result_line border_full"><p><%= activity_log.sale_record.user.name %></p></td>
  <td class="result_line img_width"><p> 
  	
  	<%= comp_image(activity_log.sale_record).html_safe %>
  		
  	</p></td>
  <!-- <td class="result_line"><p><%#= activity_log.sale_record.company %></p></td> -->
  <td class="result_line"><p><%= "#{activity_log.sale_record.complete_address}"%></p></td>
  <td class="result_line"><p><%= activity_log.sale_record.price.to_s.sub('-0.0', 'Lock') %></p></td>
  <td class="result_line"><p><%= activity_log.sale_record.sizerange %></p></td>
  <td class="result_line"><p><%= activity_log.sale_record.build_date.year %></p></td>
  

</tr>