<div class="tx_search_result_table_container">
    <div class="short_by_incomming">
      <div class="checkbox checkbox-info lock_list_check">
          <input type="checkbox" id="checkbox1">
          <label for="checkbox1">Select All</label>
      </div>
      <ul class="short_by_incomming_list">
        <li class="short_seclet_list">
          <select class="selectpicker">
            <option>Sort By</option>
            <!--<option>Ketchup</option>
            <option>Relish</option>-->
          </select>
        </li>
        <li><a href="#!" class="tx_cline submitincoming" data-status="Decline">Decline</a></li>
        <li><a href="#!" class="btn_blue_half submitincoming" data-status="Approve">Approve</a></li>
      </ul>
      
      <div class="round_lock">
        <ul class="tx_lock_list">
           <li><a href="#!" class="submitincoming" data-status="Partial"><%= image_tag("un-lock.png")%></a></li>
          <li><a href="#!" class="lock-n submitincoming" data-status="Unlock"><%= image_tag("lock-un.png")%> </a></li>
          <li  class="active-locl"><a href="#!" class="submitincoming" data-status="Lock"><%= image_tag("lock-white.png")%></a></li>
        </ul>
      </div>
    <div class="tx_search_result_table_container perfectScrollbar-wheel  padding-hidden">
	
	<%= form_tag(activity_logs_update_path, id:"incoming_form") do %>
	
	<input type="hidden" name="astatus" id="astatus_id" />
	
      <table width="100%" border="0" class="tx_search_result_table table_full">
        <tr class="tx_search_result_first_row">
          <td width="56" height="51"></td>
          <td width="145">Header <a href="#!"> <i class="fa fa-caret-down"></i> </a></td>
          <td width="334">Address <a href="#!"> <i class="fa fa-caret-down"></i> </a></td>
          <td width="120">Company <a href="#!"> <i class="fa fa-caret-down"></i> </a></td>
          <td width="102">Type <a href="#!"> <i class="fa fa-caret-down"></i> </a></td>
          <td width="97">Header <a href="#!"> <i class="fa fa-caret-down"></i> </a></td>
          <td width="104">Header <a href="#!"> <i class="fa fa-caret-down"></i> </a></td>
          <td width="122">Header <a href="#!"> <i class="fa fa-caret-down"></i> </a></td>
          <td width="118">Header <a href="#!"> <i class="fa fa-caret-down"></i> </a></td>
          <td width="34"></td>
        </tr>
		
		<% @user_activity.each do |activity| %>
		
        <tr>
          <td height="51" class="result_img_icon border_full"><div class="checkbox checkbox-info">
              <input type="checkbox" id="checkbox44" name="aids[]" value="<%= activity.id%>" id="checkbox1">
              <label for="checkbox44"> </label>
            </div></td>
          <td class="result_line border_full"><p>Username119900</p></td>
          <td class="result_line img_width"><p> <%= image_tag("tbl-img.jpg")%> <%= "#{activity.address1}, #{activity.city}, #{activity.state} #{activity.zipcode}"%></p></td>
          <td class="result_line"><p><%= activity.company%></p></td>
          <td class="result_line"><p><%= activity.comp_type%></p></td>
          <td class="result_line"><p>Data</p></td>
          <td class="result_line"><p>Data</p></td>
          <td class="result_line"><p>4,000 - 9,999</p></td>
          <td class="result_line"><p>1985</p></td>
		  <td width="34"></td>
        </tr>
		
		<% end %>
        
      </table>
	 
	  <% end %>
	  
    </div>
    </div>
	
	<script>
	
	$( ".submitincoming" ).click(function() {
	  var status = $(this).attr('data-status')
	  $("#astatus_id").val(status);	  
	  $( "#incoming_form" ).submit();
	});
	</script>