<tr class="connection-record">
  <td><span class="hide"><%= group_member.id %></span></td>

  <td width="4%" class="result_img_icon">
    <%
       image_check = user_image(group_member.user)
    %>
    <%= image_check %>

  </td>
  <td width="18%" class="result_line"><p class="result_line_bold"><%= group_member.user.name %></p></td>
  <td width="17%" class="result_line"><p class="result_line_bold"><%= group_member.user.firm_name %></p></td>
  <td width="31%" class="result_line"><p class="result_line_bold"><%= group_member.user.location %></p></td>
  <td width="12%" class="result_line">
    <%= link_to "Remove", '#', :data => { :href => '#' }, :class=>"ignore_btn"  %>
  </td>
  <td width="13%" ></td>
</tr>