<h1><%= @user.name %></h1>

<% if @request_id %>
    <a href="<%= accept_connection_request_url(@request_id) %> " class="btn btn-primary">Accept</a>
<% else %>
    <% if User.connection_request_by_current_user(@user.id).count > 0 %>
        <a href="<%= accept_connection_request_url(User.connection_request_by_current_user(@user.id).first.id) %>" class="btn btn-primary">Accept</a>
        <a href="<%= delete_connection_requests_url(User.connection_request_by_current_user(@user.id).first.id)%>" class="btn-link">Ignore</a>
    <% end %>

    <% if User.connection_request_to_current_user(@user.id).count > 0 %>
        <a href="<%= delete_connection_requests_url(User..connection_request_to_current_user(@user.id).first.id) %>" class="btn btn-link">Cancel</a>
    <% end %>
<% end %>