<%= render 'partials/email_header' %>

<div class="email-content">

	Hello <%= @comp_request.initiated_by.first_name %>, 

<%= @comp_request.received_by.name %> has declined your request to unlock: 
Data Type: <%= @comp_request.comp_type %> Comp
Address: 902 Broadway
SF: 4000-10,000 (what about sale comp)
Year: 2016

	
</div>

<%= render 'partials/email_footer' %>