<%= render 'partials/email_header' %>

<div class="email-content">

	Hello <%= @comp_request.initiated_by.first_name.capitalize %>, 

<%= @comp_request.received_by.name.capitalize %> has declined your request to unlock: 
Data Type: <%= @comp_request.comp_type %> Comp

<% if @comp_request.comp_type == 'lease' %>

Address: <%= @comp_request.tenant_record.address1%>
SF: <%= number_with_precision(@comp_request.tenant_record.net_effective_per_sf,:precision => 2) %>
Year: <%= @comp_request.tenant_record.lease_commencement_date.year%>

<% elsif @comp_request.comp_type == 'sale' %>

Address: <%= @comp_request.sale_record.address1%>
SF: <%= number_with_precision(@comp_request.sale_record.land_size,:precision => 2) %>
Year: <%= @comp_request.sale_record.build_date.year%>

<% end %>
	
</div>

<%= render 'partials/email_footer' %>