<%= render 'partials/email_header' %>

<div class="email-content">

	Hello <%= @comp_request.initiated_by.first_name.capitalize %>!
<br><br>
<%= @comp_request.received_by.name.capitalize %> has approved your request.
<br><br>
Please <a href="<%= (@comp_request.comp_type=='lease')?search_lease_comp_url():search_sale_comp_url() %>/<%= @comp_request.comp_id %>">click here</a> to view details.
	<br>
</div>

<%= render 'partials/email_footer' %>