<%= render 'partials/email_header' %>

<div class="email-content">

	Hello <%= @shared.user.first_name.capitalize %>!
<br><br>
<%= @user.first_name.capitalize %> has approved your request.

<br><br>
Please <a href="<%= (@shared.comp_type=='lease')?search_lease_comp_url():search_sale_comp_url() %>/<%= @email_comp_id %>">click here</a> to view details.

	<br>
</div>

<%= render 'partials/email_footer' %>