<%= render 'partials/email_header' %>


<div class="email-content">

  <div >

    <div style="
        height: 200px;
        overflow:hidden;
        margin: 0 0 0 24px;
        ">

      <p><%= @connection_request.receiver.first_name.capitalize %> <%= @connection_request.receiver.last_name.capitalize %> has approved your connection request.</br> <%= @connection_request.receiver.first_name.capitalize %> <%= @connection_request.receiver.last_name.capitalize %> is now a direct connection.</p>

      <p>View <%= @connection_request.receiver.first_name.capitalize %> <%= @connection_request.receiver.last_name.capitalize %> profile
      <a href="<%= public_profile_url(@connection_request.receiver.id,@connection_request.id) %>" style=" ">here</a></p>
    </div>
    <div style="clear:both"></div>
  </div>



</div>


<%= render 'partials/email_footer' %>