<%= render 'partials/email_header' %>

<h1 style="font-family: arial;font-size: 18px;padding: 13px 0;">Hi <%= @user.name %>, </h1>

<div class="email-content">

    You have received a new message.
    <br />
    <br />
    <%= @message.sender.name %> Said: <br />
    <%= @message.message %><br />
  <br />
  <hr />
  <br />
  To  view all your messages, <%= link_to "Click here", messages_path('unread')%>.


</div>

<%= render 'partials/email_footer' %>