    <%= render 'partials/email_header' %>





        <h1 class="email-main-hadding">Hi <%= @user.first_name %>, </h1>

        <div class="email-content">


            <%= @user.name %>, welcome to MarketRex! <br>

            Below are your login credentials to MarketRex: <br><br>

            Login: <%= @user.email %>
            <br>
            Password: <%= @user.password %>
            <br>
            <br>
            Regards,
            <br>
            MarketRex Team

        </div>

    <%= render 'partials/email_footer' %>