<div class="banner">
  <!--<img  src="<%= image_url 'lease2.jpg' %>" width="100%"> -->
  <img  src="<%= image_url 'leaserex-about-img.jpg' %>" width="100%">
</div>
<div class="tx_creat_freeaccount lx_creat_freeaccount"> <a href="#!">
	Coming Soon
	<!-- <img src="<%= image_url 'lefte-anker.png' %>"> -->
	</a> </div>
<div class="tx_commercial_contant">
  <div class="col-md-6 tx_commercial_black">
    <h1>With LeaseRex, converting <br>
      your modeled analysis into  <br/>
      an actual comp has never   <br/>been easier. </h1>
  </div>
  <div class="col-md-6 tx_commercial_white lx_commercial_white">
    <h4>Commercial real estate brokers are no strangers to lease analysis software. Through lease analysis, brokers are able to create true  cost based comparisons when modeling lease proposals. With LeaseRex, not only do you get the powerful tools you're familiar with, but LeaseRex is designed to seamlessly integrate and complement your TenantRex data.  </h4>

  </div>
  <a href="#!"><img src="<%= image_url 'border-logo-lx.png' %>" class="border-logo"></a> </div>
<div class="tx_plat_form"> <img src="<%= image_url 'workflow-img.png' %>">
  <h4>Converting your modeled analysis into an actual
    comp has never been easier. And then, being able to
    sync your data with MarketRex and TenantRex adds a
    level of sophistication to your workflow. Try it today to see how it works!</h4>
  <a href="#!"><img src="<%= image_url 'border-logo-lx.png' %>" class="border-logo-defurt"></a> </div>
<div class="tx_solutions_box">
  <h1 class="tx_solutions_box_hadding">LEASE ANALYSIS PLATFORM DESIGNED FOR INTEGRATION</h1>
  <div class="container">

    <ul class="solutions-list">
      <li><img src="<%= image_url 'activate-btn.png' %>">
        <h2>ACTIVATE</h2>
        <img src="<%= image_url 'box-arow.png' %>" class="solutions-box-icon">
      </li>
      <li><img src="<%= image_url 'analyze.png' %>">
        <h2>ANALYZE</h2>
        <img src="<%= image_url 'box-arow.png' %>" class="solutions-box-icon">
      </li>
      <li><img src="<%= image_url 'compare.png' %>">
        <h2>COMPARE</h2>
        <img src="<%= image_url 'box-arow.png' %>" class="solutions-box-icon">
      </li>
      <li><img src="<%= image_url 'sync.png' %>">
        <h2>SYNC</h2>
      </li>
    </ul>

  </div>
</div>


<div class="tx_solutions_box_border"> <img src="<%= image_url 'plan_shape.png' %>" width="100%"> </div>
<div class="compsotion_detail">
  <div class="text_center activate-btn"> <img src="<%= image_url 'activate-btn.png' %>"> </div>
  <div class="col-md-6"> <img src="<%= image_url 'add-record-img.png' %>" class="screen_width_left"> </div>
  <div class="col-md-6">
    <div class="protected_box tx-protected_box">
      <h2>Intelligent Software. Upgrade your outdated system.  </h2>
      <p>Lease analysis tools are very valuable. But if you're not using smart software, your  lease analysis data can't be put to work. LeaseRex integration changes that. Activate LeaseRex and set a market intelligence foundation you can build upon. </p>
    </div>
  </div>
</div>
<div class="tx_solutions_box_border"> <img src="<%= image_url 'grey-wihte-shape.png' %>" width="100%"> </div>
<div class="connetion_detail">
  <div class="text_center"> <img src="<%= image_url 'analyze.png' %>"> </div>
  <div class="col-md-6">
    <div class="protected_box_left lx-protected_box_left">
      <h2>Detailed Analysis. Cash flows made desirable.
      </h2>
      <p>Getting the numbers right is important to your clients. Making you look good in the process is important to us. With LeaseRex, not only will your cash flows be accurate, but they will be easy to read and understand as well.        </p>
    </div>
  </div>
  <div class="col-md-6"> <img  src="<%= image_url 'analyze-img.png' %>" class="screen_width_right"> </div>
</div>
<div class="tx_solutions_box_border"> <img src="<%= image_url 'white-grey-shape.png' %>" width="100%"> </div>
<div class="search_detail">
  <div class="text_center"> <img  src="<%= image_url 'compare.png' %>"> </div>
  <div class="col-md-6"> <img src="<%= image_url 'summary-img.png' %>" class="screen_width_left"> </div>
  <div class="col-md-6">
    <div class="protected_box tx-protected_box">
      <h2>Informed Comparisons. Exceed
        your client's expectations. </h2>
      <p>Accurate lease cost comparisons are a staple
        of any lease software. But can your existing
        software compare those costs to market?
        By having the MarketRex, TenantRex and
        LeaseRex suite at your disposal, now you can.
        If you want to impress your clients with superior information, activate LeaseRex today.</p>
    </div>
  </div>
</div>
<div class="tx_solutions_box_border"> <img src="<%= image_url 'dark-gray-shape.png' %>" width="100%"> </div>
<div class="activity_detail">
  <div class="text_center"> <img src="<%= image_url 'sync.png' %>"> </div>
  <div class="col-md-6">
    <div class="protected_box_left lx-protected_box_left">
      <h2>Leveraged Data. Put your data  to work.</h2>
      <p>Remember all the data you entered when
        performing your analysis?  Wouldn't it be nice
        if you could convert that analysis into a real
        comp?  Or use that data as a stand in? With
        LeaseRex, now you can. Syncing your data
        with MarketRex and TenantRex makes your
        life easier and your database more valuable.    </p>
    </div>
  </div>
  <div class="col-md-6"> <img src="<%= image_url 'sync-img.png' %>" class="screen_width_right"> </div>
</div>
<div class="tx_solutions_box_border"> <img src="<%= image_url 'blak-shape.png' %>" width="100%"> </div>
<div class="tx_btn_eria"> <a href="#!">Coming Soon</a> </div>
<div class="tx_other_products">
  <h1 class="tx_other_products_hadding">OUR OTHER FINE PRODUCTS</h1>
  <div class="container">
    <div class="col-md-6">
      <div class="tx_other_products_contant tx_other_products_contant_right"> <img src="<%= image_url 'tanantrex-logo.svg' %>">
        <h3>Supercharged Analytics. Beat your competition with data based intelligence. </h3>
        <a href="<%= about_tenantrex_url %>">Learn more > </a> </div>
    </div>
    <div class="col-md-6">
      <div class="tx_other_products_contant"> <img src="<%= image_url 'lx--marketrex-logo.png' %>">
        <h3>Unlimited Comps. Make connections to get the data you need.  </h3>
        <a href="<%= about_marketrex_url %>">Learn more > </a> </div>
    </div>
  </div>
</div>