<div class="banner"> <img src="<%= image_url 'about-tx.jpg' %>"    width="100%"> </div>
<div class="tx_creat_freeaccount txcreat_freeaccount"> 
	<a href="#!">Coming Soon   
		<img src="<%#= image_url 'lefte-anker.png'%>">
		</a> 
	</div>
<div class="tx_commercial_contant">
  <div class="col-md-6 tx_commercial_black">
    <h1>Supercharged Analytics.  <br>
      Beat your competition  <br/>
      with data based    <br/>intelligence.  </h1>
  </div>
  <div class="col-md-6 tx_commercial_white lx_commercial_white">
    <h4>Our free MarketRex platform has helped you acquire the data you need and manage it in bulk. Now it's time to tell a story with your data. Using TenantRex, you'll be able to analyze markets in ways never before thought possible. Instantly calculate market rents, accurately compare buildings and tenants and creatively design comp reports.   </h4>

  </div>
  <a href="#!"><img src="<%= image_url 'border-logo-tx.png'%>" class="border-logo"></a> </div>
<div class="tx_plat_form"> <img src="<%= image_url 'clint-relationships.png'%>">
  <h4 class="tx-intelligence">With TenantRex, the difficult becomes simple. With the ability to display your superior market intelligence, you'll be able to beat your competition and deepen your client relationships.</h4>
  <a href="#!"><img src="<%= image_url 'border-logo-tx.png'%>" class="border-logo-defurt"></a> </div>
<div class="tx_solutions_box tr_solutions_box">
  <h1 class="tx_solutions_box_hadding">ITS TIME TO TELL A STORY WITH YOUR DATA</h1>
  <div class="container">

    <ul class="solutions-list">
      <li><img src="<%= image_url 'sync-red.png'%>">
        <h2>SYNC
        </h2>
        <img src="<%= image_url 'box-arow.png'%>" class="solutions-box-icon">
      </li>
      <li><img src="<%= image_url 'target.png'%>">
        <h2>TARGET</h2>
        <img src="<%= image_url 'box-arow.png'%>" class="solutions-box-icon">
      </li>
      <li><img src="<%= image_url 'analyze-red.png'%>">
        <h2>ANALYZE</h2>
        <img src="<%= image_url 'box-arow.png'%>" class="solutions-box-icon">
      </li>
      <li><img src="<%= image_url 'report.png'%>">
        <h2>REPORT</h2>
      </li>
    </ul>

  </div>
</div>


<div class="tx_solutions_box_border"> <img src="<%= image_url 'plan_shape_black.png'%>" width="100%"> </div>
<div class="compsotion_detail tx-compsotion_detail">
  <div class="text_center tx-text_center activate-btn"> <img src="<%= image_url 'sync-red-small.png'%>"> </div>
  <div class="col-md-6"> <img src="<%= image_url 'tx-sync.png'%>" class="screen_width_left"> </div>
  <div class="col-md-6">
    <div class="protected_box tx-protected_box">
      <h2>Simplified Syncing. Data migration couldn't be easier.      </h2>
      <p>Using multiple databases and software is a headache. Once you activate TenantRex, all your data can be synced. Avoid the pain of managing multiple databases. You're one click away from superior market intelligence.    </p>
    </div>
  </div>
</div>
<div class="tx_solutions_box_border"> <img src="<%= image_url 'grey-wihte-shape.png'%>" width="100%"> </div>
<div class="connetion_detail tx-connetion_detail">
  <div class="text_center tx-text_center "> <img src="<%= image_url 'target-small.png'%>"> </div>
  <div class="col-md-6">
    <div class="protected_box_left lx-protected_box_left">
      <h2>Targeted searches. If you want to be an expert, use a tool that's precise.
      </h2>
      <p>TenantRex allows you to target what you need quickly and efficiently. With pinpoint accuracy, you can retrieve market indices and comp data by building address, submarket, custom drawn boundary and more. Differentiate yourself by offering location specific due-diligence.        </p>
    </div>
  </div>
  <div class="col-md-6"> <img  src="<%= image_url 'target-search.png'%>" class="screen_width_right"> </div>
</div>
<div class="tx_solutions_box_border"> <img src="<%= image_url 'white-grey-shape.png'%>" width="100%"> </div>
<div class="search_detail tx-search_detail">
  <div class="text_center tx-text_center "> <img  src="<%= image_url 'analyze-red-small.png'%>"> </div>
  <div class="col-md-6"> <img src="<%= image_url 'Analytics.png'%>" class="screen_width_left"> </div>
  <div class="col-md-6">
    <div class="protected_box tx-protected_box">
      <h2>Supercharged Analytics. Say hello to data based decisions.
      </h2>
      <p>The ability to instantly calculate market rents and compare buildings and tenants in real time makes you an asset your clients can't live without. Leverage the power of TenantRex Analytics and stand out from the crowd. </p>
    </div>
  </div>
</div>
<div class="tx_solutions_box_border"> <img src="<%= image_url 'dark-gray-shape.png'%>" width="100%"> </div>
<div class="activity_detail tx-activity_detail">
  <div class="text_center tx-text_center "> <img src="<%= image_url 'report-small.png'%>"> </div>
  <div class="col-md-6">
    <div class="protected_box_left lx-protected_box_left">
      <h2>Decked out reports. Close with confidence.</h2>
      <p>Leave behind a polished report to create a lasting impression. With the ability to infinitely customize your comp and analytic reports, your prospects will know you're different. If you want to win, give your prospects something your competition can't.   </p>
    </div>
  </div>
  <div class="col-md-6"> <img src="<%= image_url 'report-img.png'%>" class="screen_width_right"> </div>
</div>
<div class="tx_solutions_box_border"> <img src="<%= image_url 'blak-shape.png'%>" width="100%"> </div>
<div class="tx_btn_eria"> <a href="#!">Coming Soon
	<!-- SIGN UP NOW -->
	</a> </div>
<div class="tx_other_products tx-other-products">
  <h1 class="tx_other_products_hadding">OUR OTHER FINE PRODUCTS</h1>
  <div class="container">
    <div class="col-md-6">
      <div class="tx_other_products_contant tx_other_products_contant_right"> <img src="<%= image_url 'lx--marketrex-logo.png'%>">
        <h3>Unlimited Comps. Make connections to get the data you need. </h3>
        <a href="<%= about_marketrex_url %>">Learn more > </a> </div>
    </div>
    <div class="col-md-6">
      <div class="tx_other_products_contant"> <img src="<%= image_url 'leaserex-logo.svg'%>">
        <h3>Intelligent Lease Analysis. Exceed your client's expectations.  </h3>
        <a href="<%= about_leaserex_url %>">Learn more > </a> </div>
    </div>
  </div>
</div>
