
<% 
##p request.remote_ip

if request.remote_ip=='115.186.56.134444'%>

<script src="http://test.tenantrex.com/flash/mediaelement-and-player.min.js"></script>

<link rel="stylesheet" media="all" href="http://test.tenantrex.com/flash/mediaelementplayer.min.css" />


<div class="banner">
  <img src="<%= image_url 'about-bc.jpg' %>" width="100%" id="videoplay">

  <video controls="true" width="100%" height="100%" id="marketrexvideo" style="width: 100%; height: 100%;">      
    <source type="video/youtube" src="http://www.youtube.com/watch?v=g5im1Km_88E" />
  </video>


</div> 

<% end %>





<script src="<%= Rails.public_path.join('flash/mediaelement-and-player.min.js')%>"></script>

<link rel="stylesheet" media="all" href="<%= Rails.public_path.join('flash/mediaelementplayer.min.css')%>" />


<div class="banner">
  <img src="<%= image_url 'about-bc.jpg' %>" width="100%" id="videoplay">

  <video controls="true" width="100%" height="100%" id="marketrexvideo" style="width: 100%; height: 100%;">      
    
	<source type="video/mp4" src="<%= image_url 'market_rex_final_cut.mp4' %>" />
	
  </video>


</div> 





	
<div class="tx_creat_freeaccount"> <a href="<%=new_user_registration_url%>"> Create & start using your FREE MarketRex Account Today <img src="<%= image_url 'lefte-anker.png' %>"></a> </div>
<div class="tx_commercial_contant">
  <div class="col-md-6 tx_commercial_black">
    <h1>You are a commercial <br>
      real estate professional <br/>
      and you need comp data. </h1>
  </div>
  <div class="col-md-6 tx_commercial_white">
    <h4>The more information you have about
      available properties, the more valuable you
      are to your clients. The problem is how do
      you stay on top of market conditions? </h4>
    <h4> Waiting by the phone, trading inaccurate or
      incomplete data, fear of sharing sensitive
      information  - is this the best we can do?
      There has to be a better a way and it's
      called MarketRex. </h4>
  </div>
  <a href="#!"><img src="<%= image_url 'border-logo.png' %>" class="border-logo"></a> </div>
<div class="tx_plat_form"> <img src="<%= image_url 'market-rex-pc1.png' %>">
  <h4>MarketRex is a free platform that allows you to form
    digital connections with those you trust. By forming
    connections, your data and your connection's data
    become instantly searchable by each other. </h4>
  <a href="#!"><img src="<%= image_url 'border-logo.png' %>" class="border-logo-defurt"></a> </div>





<div class="tx_solutions_box">
  <h1 class="tx_solutions_box_hadding">A SIMPLE SOLUTION FOR AN AGE-OLD PROBLEM </h1>
  <div class="container">

    <ul class="solutions-list">
      <li><img src="<%= image_url 'cloud.svg' %>">
        <h2>UPLOAD</h2>
        <img src="<%= image_url 'box-arow.png' %>" class="solutions-box-icon">
      </li>
      <li><img src="<%= image_url 'book.svg' %>">
        <h2>CONNECT</h2>
        <img src="<%= image_url 'box-arow.png' %>" class="solutions-box-icon">
      </li>
      <li><img src="<%= image_url 'search_icon.svg' %>">
        <h2>SEARCH</h2>
        <img src="<%= image_url 'box-arow.png' %>" class="solutions-box-icon">
      </li>
      <li><img src="<%= image_url 'lock-box.svg' %>">
        <h2>UNLOCK</h2>
      </li>
    </ul>

  </div>
</div>




<!--<div class="tx_solutions_box">
  <h1 class="tx_solutions_box_hadding">A SIMPLE SOLUTION FOR AN AGE-OLD PROBLEM </h1>
  <div class="container">
    <div class="col-md-3">
      <div class="tx_solutions_box_contant"> <img src="<%= image_url 'cloud.svg' %>">
        <h1>UPLOAD</h1>
        <img src="<%= image_url 'box-arow.png' %>" class="tx_box_arow"> </div>
    </div>
    <div class="col-md-3">
      <div class="tx_solutions_box_contant"> <img src="<%= image_url 'book.svg' %>">
        <h1>CONNECT</h1>
        <img src="<%= image_url 'box-arow.png' %>" class="tx_box_arow"> </div>
    </div>
    <div class="col-md-3">
      <div class="tx_solutions_box_contant"> <img src="<%= image_url 'search_icon.svg' %>">
        <h1>SEARCH</h1>
        <img src="<%= image_url 'box-arow.png' %>" class="tx_box_arow"> </div>
    </div>
    <div class="col-md-3">
      <div class="tx_solutions_box_contant"> <img src="<%= image_url 'lock-box.svg' %>">
        <h1>UNLOCK</h1>
      </div>
    </div>
  </div>
</div>-->



<div class="tx_solutions_box_border"> <img src="<%= image_url 'plan_shape.png' %>" width="100%"> </div>
<div class="compsotion_detail">
  <div class="text_center"> <img src="<%= image_url 'cloud.png' %>"> </div>
  <div class="col-md-6"> <img src="<%= image_url 'comp-pc.png' %>" class="screen_width_left"> </div>
  <div class="col-md-6">
    <div class="protected_box">
      <h2>Protected uploads. Say goodbye to confidentiality concerns. </h2>
      <p>Not only are the comps you upload untraceable, but your identity and the exchange of your data are encrypted. And, to ensure accuracy, MarketRex will not accept data unless each required field has
        been completed. Say goodbye to missing,
        inaccurate information and say hello to the new standard in market intelligence. </p>
    </div>
  </div>
</div>
<div class="tx_solutions_box_border"> <img src="<%= image_url 'grey-wihte-shape.png' %>" width="100%"> </div>
<div class="connetion_detail">
  <div class="text_center"> <img src="<%= image_url 'book.png' %>"> </div>
  <div class="col-md-6">
    <div class="protected_box_left">
      <h2>Trusted connections. <br/>
        Increase your market intelligence. </h2>
      <p>It's simple really. Create a free profile
        in MarketRex and start uploading data
        instantly. If you add 50 comps to your
        MarketRex account and a trusted associate
        adds 100 to their account, by forming a
        connection, your searchable data grows
        to 150 comps. </p>
    </div>
  </div>
  <div class="col-md-6"> <img  src="<%= image_url 'connection-ppc.png' %>"class="screen_width_right"> </div>
</div>
<div class="tx_solutions_box_border"> <img src="<%= image_url 'white-grey-shape.png' %>" width="100%"> </div>
<div class="search_detail">
  <div class="text_center"> <img  src="<%= image_url 'search_icon.png' %>"> </div>
  <div class="col-md-6"> <img src="<%= image_url 'dashboard-pc.png' %>" class="screen_width_left"> </div>
  <div class="col-md-6">
    <div class="protected_box">
      <h2>Safeguarded Search. We <br/>
        understand your data is sensitive. </h2>
      <p>By accepting a connection request, you
        don't have to worry about compromising
        your business because all of your data is
        safeguarded. Your data remains locked at
        all times when viewed by anyone in your
        connected network. </p>
    </div>
  </div>
</div>
<div class="tx_solutions_box_border"> <img src="<%= image_url 'dark-gray-shape.png' %>" width="100%"> </div>
<div class="activity_detail">
  <div class="text_center"> <img src="<%= image_url 'lock-box.png' %>"> </div>
  <div class="col-md-6">
    <div class="protected_box_left">
      <h2>Controlled Access. Feels good <br/>
        to be in control. </h2>
      <p>When you find a comp you need, you can
        instantly send an unlock request. On the
        other hand, when you receive a request,
        you can unlock your comp by selecting any
        3 of our transparency levels. </p>
    </div>
  </div>
  <div class="col-md-6"> <img src="<%= image_url 'activity-pc.png' %>" class="screen_width_right"> </div>
</div>
<div class="tx_solutions_box_border"> <img src="<%= image_url 'blak-shape.png' %>" width="100%"> </div>
<div class="tx_btn_eria"> <a href="<%=new_user_registration_url%>">SIGN UP NOW</a> </div>
<div class="tx_other_products">
  <h1 class="tx_other_products_hadding">OUR OTHER FINE PRODUCTS</h1>
  <div class="container">
    <div class="col-md-6">
      <div class="tx_other_products_contant tx_other_products_contant_right"> <img src="<%= image_url 'tanantrex-logo.svg' %>">
        <h3>Supercharged Analytics. Beat your competition with data based intelligence. </h3>
        <a href="<%= about_tenantrex_url %>">Learn more > </a> </div>
    </div>
    <div class="col-md-6">
      <div class="tx_other_products_contant"> <img src="<%= image_url 'leaserex-logo.svg' %>">
        <h3>Intelligent Lease Analysis. Exceed your client's expectations. </h3>
        <a href="<%= about_leaserex_url %>">Learn more > </a> </div>
    </div>
  </div>
</div>

<% 
##p request.remote_ip

##if request.remote_ip!='115.186.56.134'%>

<style>
  video { width: 0px; height: 0px; }
  
  .mejs-container{position:absolute; top:0px; z-index:-100;}
</style>

<% ##end %>



<script>

$(document).ready(function() {

	$('#videoplay').click(function() {
		
		$('#videoplay').hide();		
		
		$('video').css({'height':'100%'});
		$('video').css({'width':'100%'});
		
		$('.mejs-container').css({position: 'relative'});
		$('.mejs-container').css({'z-index':'100'});
		
		
		$('video, audio').each(function() {	  
			  $(this)[0].player.play();		  
		});
		
		
	});
	

});
</script>

<script>

$('video').mediaelementplayer({
	success: function(media, node, player) {
		/*$('#' + node.id + '-mode').html('mode: ' + media.pluginType);*/
	}
});

</script>




