<div class="blog-main-hadding-faq ">
  <h2><img src="<%= image_url 'LeasetRex.svg' %>"></h2>
</div>

<div class="container">
  <div class=" col-md-offset-2 col-md-8 col-sm-12 col-sm-offset-0">
    <h1 class="faq-main-hadding">FAQ's</h1>

    <div class="faq">




      <h1  data-toggle="collapse" data-target="#demo" class="more-click fq-click">What is LeaseRex?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo" class="collapse tx-collapse">
        <p>LeaseRex is a subscription-based platform designed to help brokers compare lease proposals.</p>
      </div>




      <h1  data-toggle="collapse" data-target="#demo2" class="more-click fq-click">What happens when I upload my data? <img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo2" class="collapse tx-collapse">
        <p>LeaseRex converts your lease proposal data into tenant effective and landlord effective rents using discounted cash flow analysis. DCF analysis uses all data elements of a proposal (e.g. free rent, tenant improvements, term, operating expenses, base rent, escalations etc.) to arrive at the true cost to the tenant and the true income to the landlord. This ensures all proposals are accurate and standardized for comparison.  </p>

      </div>



      <h1  data-toggle="collapse" data-target="#demo3" class="more-click fq-click">Can other users see my data? <img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo3" class="collapse tx-collapse">
        <p>No. You are the only person that see's your data.  </p>
      </div>





      <h1  data-toggle="collapse" data-target="#demo4" class="more-click fq-click">Can I sync my lease analysis data w/ TenantRex?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo4" class="collapse tx-collapse">
        <p>Absolutely. From time to time, you might have insufficient comp data for a specific building or area and will want to use the next best thing – lease proposal data. If you have a subscription to TenantRex, all of your lease proposal data can be synced with TenantRex. TenantRex functionality allows you to filter out proposal data when populating Market Indices.   </p>


      </div>


    </div>









    <div class="col-md-12 both-pad-none">

      <a href="mailto:support@tenantrex.com" class="still-q">  Still have a Question?</a>



    </div>
  </div>


</div>