<div class="blog-main-hadding-faq ">
  <h2><img src="<%= image_url 'TenantRex.svg' %>"></h2>
</div>

<div class="container">
  <div class=" col-md-offset-2 col-md-8 col-sm-12 col-sm-offset-0">
    <h1 class="faq-main-hadding">FAQ's</h1>


    <div class="faq">




      <h1  data-toggle="collapse" data-target="#demo" class="more-click fq-click">What is TenantRex?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo" class="collapse tx-collapse">
        <p>TenantRex is a subscription-based platform that helps brokers tell a story with their data. Because comps set the market, TenantRex helps brokers present accurate market prices.
        </p>
      </div>




      <h1  data-toggle="collapse" data-target="#demo2" class="more-click fq-click">If all comps are different, how do you set a market price?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo2" class="collapse tx-collapse">
        <p>	No two lease comps are the same because landlords charge/offer different 		operating expenses, rents and concessions. To make your comps 				comparable, TenantRex uses algorithms to convert all your comps into 			standardized 	effective rents and then, based on a user-specified location, 			calculates a $/SF weighted average index. TenantRex also creates a sales 			index using completed deal prices from sales comps.   </p>

      </div>



      <h1  data-toggle="collapse" data-target="#demo3" class="more-click fq-click">How specific can I make my location? <img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo3" class="collapse tx-collapse">
        <p>TenantRex enables brokers to present a true market price building-by-building, by radius, by custom drawn boundary and by submarket.
        </p>
      </div>





      <h1  data-toggle="collapse" data-target="#demo4" class="more-click fq-click">After defining a location, how advanced are your search filters?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo4" class="collapse tx-collapse">
        <p>	After TenantRex returns a market price based on your location, you can 	sharpen the price by filtering by building class, industry, tenant name, deal 	type, lease commencement and SF.
        </p>


      </div>































      <h1  data-toggle="collapse" data-target="#demo5" class="more-click fq-click">How does a true market index help me as a broker?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo5" class="collapse tx-collapse">
        <p>		Brokers gain a competitive advantage over their competitors if they can 	demonstrate superior market knowledge. Using spreadsheets to store data is 	fine and has been the industry standard for years, especially if you have a 	full spreadsheet. But, unless your spreadsheets are running discounted cash 	flow algorithms, your comps aren't really comparable. And if your comps 	aren't really comparable, you really don't have a true market price making it 	difficult to help your clients make data based decisions, i.e., recognize a 	good deal, from a not so good deal.
        </p><p>
        And that's where TenantRex comes in. Because comps set the market, you 	need a way to make your comps instantly comparable and the ability to 	present your findings in a format that's easy for your clients to follow. 	TenantRex gives you the edge you're looking for.

      </p>


      </div>
      <h1  data-toggle="collapse" data-target="#demo6" class="more-click fq-click">My comp records do not include operating expenses, now what?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo6" class="collapse tx-collapse">
        <p>		Not to worry, we know you need operating expenses to accurately compare 	comps. We have an entire set of expenses for each major market in the 	US. When you sync your comps to TenantRex, that's when the magic 	happens. We calculate and standardize the true cost of a comp using 	discounted cash flow analysis.





        </p>


      </div>
      <h1  data-toggle="collapse" data-target="#demo7" class="more-click fq-click">
        I'm a landlord broker, how does TenantRex help me?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo7" class="collapse tx-collapse">
        <p>	You are a landlord broker going to present your services to secure a 				new listing. The landlord asks you what you believe is a fair asking 				price for the vacant space your being interviewed to fill. You can use 			TenantRex to present the true market price of each building in the 				competitive building set and then set an asking price above, at or below 			market.
        </p>


      </div>
      <h1  data-toggle="collapse" data-target="#demo8" class="more-click fq-click">How much does it cost?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo8" class="collapse tx-collapse">
        <p>

          TenantRex costs $59.99/month per user.
        </p>




      </div>
      <h1  data-toggle="collapse" data-target="#demo10" class="more-click fq-click">Does everyone in my office have to buy a TenantRex subscription?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>

      <div id="demo10" class="collapse tx-collapse">
        <p>
          No. Once you create a free MarketRex account, you can upgrade to 				TenantRex and sync your data.

        </p>


      </div>


      <h1  data-toggle="collapse" data-target="#demo9" class="more-click fq-click">Can I print reports?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo9" class="collapse tx-collapse">
        <p>		Absolutely. TenantRex comes with a robust report builder so 					you can customize the look of and feel of your market intelligence.
        </p>


      </div>











    </div>









    <div class="col-md-12 both-pad-none">

      <a href="mailto:support@tenantrex.com" class="still-q">  Still have a Question?</a>



    </div>
  </div>


</div>