<div class="blog-main-hadding-faq ">
  <h2><img src="<%= image_url 'faq-marketrex-logo.png' %>"></h2>
</div>

<div class="container">
  <div class=" col-md-offset-2 col-md-8 col-sm-12 col-sm-offset-0">
    <h1 class="faq-main-hadding">FAQ's</h1>
    <div class="faq">




      <h1  data-toggle="collapse" data-target="#demo" class="more-click fq-click">What is MarketRex?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo" class="collapse tx-collapse">
        <p>MarketRex is a free platform designed to help brokers acquire and manage important comp data.</p>
      </div>




      <h1  data-toggle="collapse" data-target="#demo2" class="more-click fq-click">How do I get data into MarketRex?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo2" class="collapse tx-collapse">
        <p>You can upload your data in bulk or one record at a time. MarketRex accepts lease comps, sales comps and any custom datasets. We also provide a complimentary data add service. </p>

      </div>



      <h1  data-toggle="collapse" data-target="#demo3" class="more-click fq-click">Is the data I upload secure, confidential and anonymous? <img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo3" class="collapse tx-collapse">
        <p>Yes, we understand the data you upload must be protected. To do this, not only do we encrypt your username, but we also store your data apart from your username so it is untraceable and anonymous. We also use a redundant infrastructure so your data is backed up. </p>
      </div>





      <h1  data-toggle="collapse" data-target="#demo4" class="more-click fq-click">How does MarketRex help me acquire data?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo4" class="collapse tx-collapse">
        <p>MarketRex enables you to set up a verified profile and form an online connection between you and a trusted colleague. When a connection is formed between two parties, each users data becomes searchable by the other, but only in a locked view. </p>


      </div>


      <h1  data-toggle="collapse" data-target="#demo5" class="more-click fq-click">If I don't make any connections, can other users search for or see my data?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo5" class="collapse tx-collapse">
        <p>No. You are the only person that can see your data. </p>
      </div>


      <h1  data-toggle="collapse" data-target="#demo6" class="more-click fq-click">Is my MarketRex profile public?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo6" class="collapse tx-collapse">
        <p>No. As a matter of fact, not even users of MarketRex can see if you 	are on the platform. The only time your profile is visible to another 	user, is when you send a connection request to a trusted 	colleague or if you make an unlock request in or out of network. </p>

      </div>

      <h1  data-toggle="collapse" data-target="#demo7" class="more-click fq-click">Can I form multiple connections?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo7" class="collapse tx-collapse">
        <p>
          Absolutely. Form as many direct connections as you see fit. As you do, your searchable data pool grows.
        </p>

      </div>
      <h1  data-toggle="collapse" data-target="#demo8" class="more-click fq-click">If I form a connection with Frank and Frank forms a connection with Sarah, are my comps searchable by Sarah? <img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo8" class="collapse tx-collapse">
        <p>No. Comps are only searchable by direct connections.  </p>
      </div>
      <h1  data-toggle="collapse" data-target="#demo9" class="more-click fq-click">What is a locked view and what is visible in a locked view?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo9" class="collapse tx-collapse">
        <p>A locked view is how a trusted colleague sees your comps in a search result.
        </p><p>
        To keep comps protected, a search result will only show a comp's address, a tenant size range (e.g. 10K-19,999 SF) and a lease commencement year.
      </p>

      </div>

      <h1  data-toggle="collapse" data-target="#demo10" class="more-click fq-click">Can we unlock comps between trusted colleagues?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo10" class="collapse tx-collapse">
        <p>
        	Absolutely. MarketRex provides members the ability to establish direct connections with trusted colleagues. If you find a comp you need, send an unlock request to your trusted connection. On the other hand, if you receive an unlock request from your trusted connection, there are three different ways in which you may choose to unlock the comp for your connection described below as Tier 1, Tier 2 and Tier 3.
        	
        	

			
 
			

          <!-- Absolutely. If you find a comp you need, send an unlock request to your trusted connection. On the other hand, if you receive an unlock notification from your trusted colleague, there are 3 ways to unlock it: -->
        </p>
<br>
        <ul>

          <li>	Tier 1- If you choose Tier 1, not only does your connection have full access to the comp but the comp is added to your connection’s account. Therefore, they can unlock the comp for any of their direct connections.


          </li>
          <li>	Tier 2- If you choose Tier 2, you grant your connection full access to the comp but the comp is not added to their account. Therefore, they do not have the ability to grant access to anyone. You remain the gatekeeper.</li>
          <li>	Tier 3- If you choose Tier 3, your connection is not granted full access to the comp but may access only those details that you give them permission to access. Your connection does not have the ability to grant access to the comp or any information in the comp to anyone.  </li>
        </ul>

      </div>

      <h1  data-toggle="collapse" data-target="#demo11" class="more-click fq-click">How do I ensure my comp stays within my network of direct connections?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo11" class="collapse tx-collapse">
        <p>
          If you select "retain ownership" when you unlock a comp,your 	trusted colleague can view the comp, but it is not added to your 	colleague's account database. Because the comp is not added to 	their database, it is not searchable by any of your colleague's 	other connections.
        </p>

      </div>

      <h1  data-toggle="collapse" data-target="#demo12" class="more-click fq-click">I searched for a specific comp and none of my direct connections has what I need. Now what?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo12" class="collapse tx-collapse">
        <p>
          In preferences, you can select "send and receive requests out of 	network." If you turn this preference on and a user that also has 	this preference turned on has a comp that meets your search 	criteria, the comp will show up in your search results. If you make 	an unlock request, the request is sent directly to the user. You do 	not need a direct connection.
        </p>
      </div>
      <h1  data-toggle="collapse" data-target="#demo13" class="more-click fq-click">Can I conceal my identity after signing up for MarketRex?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo13" class="collapse tx-collapse">
        <p>

          Yes. After signing up, you can activate Stealth Mode. Although your 	profile is visible when you make a connection request or make an 	unlock request in or out of network, Stealth Mode removes your 	username from the	Advanced Search Username Filter, i.e.	eliminates your connection's ability to filter down to just your 	comps. And, if you unlock a comp for a connection, your username 	will not be visible in their activity log, i.e. the comp you unlocked 	and the approval itself cannot be traced back to you.

        </p>

      </div>

      <h1  data-toggle="collapse" data-target="#demo14" class="more-click fq-click">If I find a comp and make an unlock request, will my trusted connection know the request came from me?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo14" class="collapse tx-collapse">
        <p>


          Yes. Even if you have Stealth Mode turned on, your trusted 	connection has to know the request came from you.


        </p>

      </div>


      <h1  data-toggle="collapse" data-target="#demo15" class="more-click fq-click">
        How do I know the data that I receive from a connection is accurate and true?
        <img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo15" class="collapse tx-collapse">
        <ol class="faq-list">

          <li>	By forming connections with colleagues you trust, you're in control. By doing so, you are likely to rule out data that is potentially or purposely erroneous.






          </li>
          <li>MarketRex will not accept data unless each required field has been completed. </li>
          <li>	We provide a way to flag fraudulent information. If a comp is unlocked for you and it looks erroneous, you can flag it. If a comp is flagged, the comp is reconnected to the username and sent to us for review.  </li>
        </ol>

      </div>




      <h1  data-toggle="collapse" data-target="#demo16" class="more-click fq-click">
        Do I have to accept connection requests from everyone?
        <img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo16" class="collapse tx-collapse">
        <p>
          No. MarketRex connections function just like connections that are formed on LinkedIn or Facebook. You can accept or ignore whomever you choose.
        </p>
      </div>





      <h1  data-toggle="collapse" data-target="#demo17" class="more-click fq-click">What is my user rating?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo17" class="collapse tx-collapse">
        <p>

          Your user rating is located on your user profile and functions as a 	way to show direct connections your performance on the 	platform. Your rating is adversely affected if you have slow 	response times and frequently decline unlock requests.

        </p>

      </div>


      <h1  data-toggle="collapse" data-target="#demo18" class="more-click fq-click">Can I sync unlocked comps with TenantRex?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo18" class="collapse tx-collapse">
        <p>

          Absolutely. If you have a subscription to TenantRex, all of your uploaded comps or comps that have been unlocked for you in Full Transparency can be synced with TenantRex. TenantRex does not accept partially unlocked comps.

        </p>

      </div>

      <h1  data-toggle="collapse" data-target="#demo19" class="more-click fq-click">
        If I sync a comp with TenantRex, do I become the owner of that comp?
        <img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo19" class="collapse tx-collapse">
        <p>

          No. The unlock format that was granted in MarketRex remains the same in TenantRex. If your connection ever relocks the comp, the comp will no longer be available to you in MarketRex or TenantRex.

        </p>
      </div>
      <h1  data-toggle="collapse" data-target="#demo20" class="more-click fq-click">Does MarketRex run dup logic on my database or my networked search results?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo20" class="collapse tx-collapse">
        <p>


          Absolutely. Anytime new data is entered into your database, 	MarketRex automatically runs dup logic to detect potential 	duplications and highlights which comp is more 	complete/accurate. 	This same dup logic is run in your networked search results.

        </p>
      </div>
      <h1  data-toggle="collapse" data-target="#demo21" class="more-click fq-click">
        We are a collaborative office with a researcher that manages all of our comp data. How do we make MarketRex work for us?
        <img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo21" class="collapse tx-collapse">
        <p>


          If your office is a collaborative office and the researchers and brokers all work from the same common shared database, </p>
        <p>
          MarketRex allows your office to set up a single account with multiple user profiles.

        </p>
      </div>
      <h1  data-toggle="collapse" data-target="#demo22" class="more-click fq-click">Does MarketRex provide an administrative role?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo22" class="collapse tx-collapse">
        <p>

          Yes. Administrative roles are typically established when an office works from a shared database and would like the ability to control/change user access.

        </p>
      </div>
      <h1  data-toggle="collapse" data-target="#demo23" class="more-click fq-click">Can I export data?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo23" class="collapse tx-collapse">
        <p>

          Yes. But only comps that are in your database. We also offer a controlled export feature for shared databases.

        </p>

      </div>



      <h1  data-toggle="collapse" data-target="#demo24" class="more-click fq-click">We are an office with a researcher and a central database but our office does not share data openly. How would MarketRex work for us?<img src="<%= image_url 'list-drop-arow.png' %>"></h1>
      <div id="demo24" class="collapse tx-collapse">
        <p>

          If your office does not share data openly, meaning some brokers contribute to the office database while others keep data to themselves, the way to set up MarketRex for your office is still straight forward. All brokers of your office set up a free profile in MarketRex and upload the data they have individually collected. The researcher uploads the data he/she has collected into their individual account and then brokers form trusted connections with each other and there searcher.

        </p>

      </div>





















    </div>
    <div class="col-md-12 both-pad-none">

      <a href="mailto:support@tenantrex.com" class="still-q">  Still have a Question?</a>



    </div>
  </div>


</div>