<div class="tx_choose_plan">
  <h1>CHOOSE YOUR PLAN</h1>
</div>

<div class="tx_offer_hadding">
  <h3 class="tx_bold"><span class="tx_cap_letters">NEED HELP?</span>  Call 443-712-8183 or Email <a href="mailto:support@tenantantrex.com">support@tenantantrex.com</a></h3>
</div>
<!--navigation-end-->

<!--cost_table-start-->
<div class="tx_cost_table">
  <div class="container">
    <div class="tx_cost_table_main">
      <div class="tx_cost_table_box tx_cost">
        <ul>
          <li></li>
          <li>Cost</li>
          <li class="tx_logo_height"></li>
          <li>Acquire Data</li>
          <li>Standardize Data</li>
          <li>Manage Data</li>
          <li>Analyze Data</li>
          <li>Present Data</li>
          <li>Lease Analysis</li>
          <li>Research Requests</li>
          <li></li>
        </ul>
      </div>
      <div class="tx_cost_table_box tx_besic">
        <ul>
          <li class="tx_standard_blue">BASIC</li>
          <li class="tx_bc_darkgrey">FREE</li>
          <li class="tx_logo_height"><span><img src="<%= image_url 'costmarkrex.png' %>"></span></li>
          <li><img src="<%= image_url 'black-good-icon.png' %>" width="28"></li>
          <li><img src="<%= image_url 'black-good-icon.png' %>" width="28"></li>
          <li><img src="<%= image_url 'black-good-icon.png' %>" width="28"></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li><a href="<%= new_user_registration_path %>" class="tx_basic_plan">Select Basic Plan <img src="<%= image_url 'right-arow.png' %>"></a></li>
        </ul>
      </div>
      <div class="tx_cost_table_box tx_standard">
        <ul>
          <li class="tx_standard_red">STANDARD</li>
          <li class="tx_bc_darkgrey">$59.99/Mo</li>
          <li class="tx_logo_height">
            <span><img src="<%= image_url 'costmarkrex.png' %>"></span>
            <span><img src="<%= image_url 'costmarkrex.png' %>"></span>
          </li>
          <li><img src="<%= image_url 'black-good-icon.png' %>" width="28"></li>
          <li><img src="<%= image_url 'black-good-icon.png' %>" width="28"></li>
          <li><img src="<%= image_url 'black-good-icon.png' %>" width="28"></li>
          <li><img src="<%= image_url 'black-good-icon.png' %>" width="28"></li>
          <li><img src="<%= image_url 'black-good-icon.png' %>" width="28"></li>
          <li></li>
          <li></li>
          <li><a href="#" class="tx_standard_plan">Select Standard Plan  <img src="<%= image_url 'right-arow.png' %>"></a></li>
        </ul>
      </div>
      <div class="tx_cost_table_box tx_premium">
        <ul>
          <li class="tx_standard_green">
            <div class="tx_top_shape"></div>
            PREMIUM</li>
          <li class="tx_bc_darkgrey">FREE for 30 days!*</li>
          <li class="tx_logo_height">
            <span><img src="<%= image_url 'costmarkrex.png' %>"></span>
            <span><img src="<%= image_url 'costtentrex.png' %>"></span>
            <span><img src="<%= image_url 'costtentrex.png' %>"></span>
          </li>
          <li><img  src="<%= image_url 'greengood-icon.png' %>" width="28"></li>
          <li><img  src="<%= image_url 'greengood-icon.png' %>" width="28"></li>
          <li><img  src="<%= image_url 'greengood-icon.png' %>" width="28"></li>
          <li><img  src="<%= image_url 'greengood-icon.png' %>" width="28"></li>
          <li><img  src="<%= image_url 'greengood-icon.png' %>" width="28"></li>
          <li><img  src="<%= image_url 'greengood-icon.png' %>" width="28"></li>
          <li></li>
          <li><a href="#" class="tx_trial_plan">Start Trial Today   <img src="<%= image_url 'right-arow.png' %>"></a></li>
        </ul>
      </div>
      <div class="tx_cost_table_box tx_ultimate">
        <ul>
          <li class="tx_standard_mehroon">ULTIMATE</li>
          <li class="tx_bc_darkgrey">Coming Soon</li>
          <li class="tx_logo_height">
            <span><img src="<%= image_url 'costmarkrex.png' %>"></span>
            <span><img src="<%= image_url 'costmarkrex.png' %>"></span>
            <span><img src="<%= image_url 'costmarkrex.png' %>"></span>
            <span><img src="<%= image_url 'costresearchrex.png' %>" class="tx_width_fix"></span>
          </li>
          <li><img src="<%= image_url 'black-good-icon.png' %>" width="28"></li>
          <li><img src="<%= image_url 'black-good-icon.png' %>" width="28"></li>
          <li><img src="<%= image_url 'black-good-icon.png' %>" width="28"></li>
          <li><img src="<%= image_url 'black-good-icon.png' %>" width="28"></li>
          <li><img src="<%= image_url 'black-good-icon.png' %>" width="28"></li>
          <li><img src="<%= image_url 'black-good-icon.png' %>" width="28"></li>
          <li><img src="<%= image_url 'black-good-icon.png' %>" width="28"></li>
          <li><a href="#" class="tx_ultimate_plan">Start Trial Today   <img src="<%= image_url 'right-arow.png' %>"></a></li>
        </ul>
      </div>
    </div>

    <div class="tx_cost_table_content">
      <p>246px* $79.99/Mo after 30 day trial.</p>
      <div class="tx_cost_table_help_content">
        <h1>Need help with uploading spreadsheets? We can help you!</h1>

        <h3>You send us your spreadsheets, we upload them!</h3>
        <h3>Unlimited Upload Assistance = Call for pricing</h3>
      </div>
    </div>
  </div>

</div>
<div class="tx_offer_hadding">
  <h3 class="tx_bold"><span class="tx_cap_letters">NEED HELP?</span>  Call 443-712-8183 or Email <a href="mailto:support@tenantantrex.com">support@tenantantrex.com</a></h3>
</div>
<!--cost_table-start-->