<script type="text/html" id="default-fields-geo-code-selection">
  <tr><td><%= label_tag nil, 'Address Line 1*' %></td><td><%= text_field_tag 'custom_record[address1]', nil, class: ' validate[required]' %></td></tr>
  <tr><td><%= label_tag nil, 'City*' %></td><td><%= text_field_tag 'custom_record[city]', nil, class: ' validate[required]' %></td></tr>
  <tr><td><%= label_tag nil, 'State*' %></td><td><%= select_tag "custom_record[state]", options_for_select(us_states), class: 'required custom-select validate[required]', style: "margin: 0px;" %></td></tr>
</script>
<!-- for bulk upload-->
<script type="text/html" id="bulk-default-fields-geo-code-selection">
  <tr>
    <td><%= label_tag nil, 'Address Line 1*' %></td>
    <td>
      <div class="header-name-container">
        <div class="first"><%= text_field_tag 'custom_record[address1]', nil, placeholder: '{ Please select }', class: 'bulk-column-header-value validate[required]' %></div>
        <div class="second">
          <select class="bulk-column-header-dd">
          </select>
        </div>
        <div style="clear: both"></div>
      </div>
    </td>
  </tr>
  <tr>
    <td><%= label_tag nil, 'City*' %></td>
    <td>
      <div class="header-name-container">
        <div class="first"><%= text_field_tag 'custom_record[city]', nil, placeholder: '{ Please select }', class: 'bulk-column-header-value validate[required]' %></div>
        <div class="second">
          <select class="bulk-column-header-dd">
          </select>
        </div>
        <div style="clear: both"></div>
      </div>
    </td>
  </tr>
  <tr>
    <td><%= label_tag nil, 'State*' %></td>
    <td>
      <div class="header-name-container">
        <div class="first"><%= text_field_tag "custom_record[state]", nil, placeholder: '{ Please select }', class: 'bulk-column-header-value validate[required]' %></div>
        <div class="second">
          <select class="bulk-column-header-dd">
          </select>
        </div>
        <div style="clear: both"></div>
      </div>
    </td>
  </tr>
</script>

<script type="text/html" id="add-button-geo-code-selection">
  <tr>
    <td colspan="3" class="add-row-custom-data-geocode-single-comp-td">
      <button class="add-row-custom-data-geocode-single-comp">+Add Row</button>
    </td>
  </tr>
</script>

<!-- add row dynamically -->
<script type="text/template" id="custom-data-set-row-template">
  <tr class="user-defined-custom-data">
    <td>
      <%= text_field_tag 'custom_record[custom_record_properties_attributes][{{row}}][key]', '{{field}}', :placeholder => '(Header from user)' %>
    </td>
    <td>
      <%= text_field_tag 'custom_record[custom_record_properties_attributes][{{row}}][value]', '{{field_value}}' %>
    </td>
    <td class="actions">
      <a href="#" type="button" class='btn btn-red delete-custom-field'><u><span>Delete</span></u></a>
    </td>
  </tr>
</script>



