<div class="top-bar custom-header" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <!--<li class="menu-text">Site Title</li>-->
      <li><a href="#"> <%= image_tag("uploader/market_rex.png") %></a></li>
      <li><a href="#"><%= image_tag("uploader/tenant_rex.png") %></a></li>
      <li><a href="#"><%= image_tag("uploader/lease_rex.png") %></a></li>
      <li><a href="#"><%= image_tag("uploader/research_rex.png") %></a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu right-menu-custom">
      <li><span><%= image_tag("uploader/contact_icon.png") %></span><span>752 Connections</span></li>
      <li><span><%= image_tag("uploader/green_star.png") %></span><span>752 comps</span></li>
      <li><span><%= image_tag("uploader/adrian_contact_icon.png") %></span><span>Adrian</span></li>
      <li><span><%= image_tag("uploader/settings_icon.png") %></span></li>
    </ul>
  </div>
</div>