<li class="accordion-item accordian-item2 invalid" data-accordion-item>
  <a href="javascript:void(0)" class="accordion-title clearfix"><span>Step 2: Base Rent Model</span><span class="tick"><span>&#x2713;</span></span></a>
  <div class="accordion-content clearfix" data-tab-content>
    <div class="accordion-content-data">
      <p>
        Is this a land record sale?
      </p>
      <%= radio_button_tag "sale_record[is_sales_record]", 'yes', nil, class: 'sale-record' %>
      <%= label 'sale_record[is_sales_record]', 'yes', 'Yes' %><br>
      <%= radio_button_tag "sale_record[is_sales_record]", 'no', nil, class: 'sale-record' %>
      <%= label 'sale_record[is_sales_record]', 'no', 'No' %>
      <div class="land-size-unit-container">
        <p>
          Is Land Size in Acres or SF?
        </p>
        <%= radio_button_tag "sale_record[land_size_identifier]", 'acres' %>
        <%= label 'sale_record[land_size_identifier]', 'acres', 'Acres' %><br>
        <%= radio_button_tag "sale_record[land_size_identifier]", 'sf' %>
        <%= label 'sale_record[land_size_identifier]', 'sf', 'SF' %>
      </div>
    </div>
    <div class="right-box">
      <div class="accordion-content-continue" id="sales-comp-continue-2">
        <p>Continue</p>
        <p><%= image_tag("uploader/down_continue.png") %></p>
      </div>
    </div>
  </div>
</li>

<!---->

<li class="accordion-item accordian-item3 invalid" data-accordion-item>
  <a href="javascript:void(0)" class="accordion-title clearfix"><span>Step 3: Property Details</span><span class="tick"><span>&#x2713;</span></span></a>
  <div class="accordion-content clearfix" data-tab-content>
    <div class="accordion-content-data">
      <div class="fields-table sales-dynamic-fields-wrapper">
        <table class="sales-dynamic-fields" id="sales-building-table">
          <tr>
            <td>
              Internal or External*
              <div class="no-padding" style="float: right;">
                <div class="hover-info">?
                  <div class="tooltip-custom">
                    <div class="triangle"></div>
                    <strong>Tooltip:</strong>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <%= select_tag 'sale_record[view_type]',
                             options_for_select(TenantRecord::NEW_VIEW_TYPE.map { |s| [s.titleize, s] }), prompt: 'Please Choose', class: 'custom-select validate[required]' %>
                  </td>
                  </tr>
                  <tr><td>Address Line 1*</td><td><%= text_field_tag 'sale_record[address1]', nil, class: 'validate[required]' %></td></tr>
                  <tr><td>City*</td><td><%= text_field_tag 'sale_record[city]', nil, class: ' validate[required]' %></td></tr>
                  <tr><td>State*</td><td><%= select_tag "sale_record[state]", options_for_select(us_states), class: 'required custom-select validate[required]' %></td></tr>
                  <tr><td>Submarket*</td><td><%= text_field_tag 'sale_record[submarket]', nil, class: 'required  validate[required]' %></td></tr>
                        <tr>
                          <td>
                            Property Name*
                            <div class="no-padding" style="float: right;">
                              <div class="hover-info">?
                                <div class="tooltip-custom">
                                  <div class="triangle"></div>
                                  <strong>Tooltip:</strong>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td><%= text_field_tag 'sale_record[property_name]', nil, class: 'validate[required]' %></td>
                        </tr>
                        <tr>
                          <td>
                            Date Built*
                            <div class="no-padding" style="float: right;">
                              <div class="hover-info">?
                                <div class="tooltip-custom">
                                  <div class="triangle"></div>
                                  <strong>Tooltip:</strong>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td><%= text_field_tag 'sale_record[build_date]', "", class: 'date-picker-inline validate[required]' %>
                                      <span> <% #= hidden_field_tag "sale_record[date_built]"
                                      %> </span></td>
                                </tr>
                                <tr>
                                  <td>
                                    Property Type*
                                    <div class="no-padding" style="float: right;">
                                      <div class="hover-info">?
                                        <div class="tooltip-custom">
                                          <div class="triangle"></div>
                                          <strong>Tooltip:</strong>
                                        </div>
                                      </div>
                                    </div>
                                  </td>
                                  <td><%= select_tag 'sale_record[property_type]',
                                                     options_for_select(TenantRecord::SALES_PROPERTY_TYPE.map { |s| [s.titleize, s] }), prompt: 'Please Choose', class: 'custom-select validate[required]' %>

                                        </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            Class Type*
                                            <div class="no-padding" style="float: right;">
                                              <div class="hover-info">?
                                                <div class="tooltip-custom">
                                                  <div class="triangle"></div>
                                                  <strong>Tooltip:</strong>
                                                </div>
                                              </div>
                                            </div>
                                          </td>
                                          <td>
                                            <%= select_tag 'sale_record[class_type]',
                                                           options_for_select(TenantRecord::CLASS_TYPE.map { |s| [s.titleize, s] }), prompt: 'Please Choose', class: 'custom-value-dropdown validate[required]' %>


                                                </td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                    Building Size*
                                                    <div class="no-padding" style="float: right;">
                                                      <div class="hover-info">?
                                                        <div class="tooltip-custom">
                                                          <div class="triangle"></div>
                                                          <strong>Tooltip:</strong>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </td>
                                                  <td><%= text_field_tag 'sale_record[land_size]', nil, class: ' validate[required]' %></td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                    Sale Price*
                                                    <div class="no-padding" style="float: right;">
                                                      <div class="hover-info">?
                                                        <div class="tooltip-custom">
                                                          <div class="triangle"></div>
                                                          <strong>Tooltip:</strong>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </td>
                                                  <td><%= text_field_tag 'sale_record[price]', nil, class: ' validate[required]' %></td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                    Date Sold*
                                                    <div class="no-padding" style="float: right;">
                                                      <div class="hover-info">?
                                                        <div class="tooltip-custom">
                                                          <div class="triangle"></div>
                                                          <strong>Tooltip:</strong>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </td>
                                                  <td><%= text_field_tag 'sale_record[sold_date]', "", class: 'date-picker-inline validate[required]' %>
                                      <span> <% #= hidden_field_tag "sale_record[date_sold]"
                                      %> </span></td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                    Cap Rate*
                                                    <div class="no-padding" style="float: right;">
                                                      <div class="hover-info">?
                                                        <div class="tooltip-custom">
                                                          <div class="triangle"></div>
                                                          <strong>Tooltip:</strong>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </td>
                                                  <td><%= text_field_tag 'sale_record[cap_rate]', nil, class: ' validate[required]' %></td>
                                                </tr>
        </table>


        <table class="sales-dynamic-fields" id="sales-land-table">
          <tr>
            <td>
              Internal or External*
              <div class="no-padding" style="float: right;">
                <div class="hover-info">?
                  <div class="tooltip-custom">
                    <div class="triangle"></div>
                    <strong>Tooltip:</strong>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <%= select_tag 'sale_record[view_type]',
                             options_for_select(TenantRecord::NEW_VIEW_TYPE.map { |s| [s.titleize, s] }), prompt: 'Please Choose', class: 'custom-select validate[required]' %>
                  </td>
                  </tr>
                  <tr><td>Address Line 1*</td><td><%= text_field_tag 'sale_record[address1]',nil, class: ' validate[required]'  %></td></tr>
                  <tr><td>City*</td><td><%= text_field_tag 'sale_record[city]', nil, class: ' validate[required]' %></td></tr>
                  <tr><td>State*</td><td><%= select_tag "sale_record[state]", options_for_select(us_states), class: 'required custom-select validate[required]' %></td></tr>
                  <tr><td>Submarket*</td><td><%= text_field_tag 'sale_record[submarket]', nil, class: 'required  validate[required]' %></td></tr>
                        <tr>
                          <td>
                            Land Size*
                            <div class="no-padding" style="float: right;">
                              <div class="hover-info">?
                                <div class="tooltip-custom">
                                  <div class="triangle"></div>
                                  <strong>Tooltip:</strong>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td><%= text_field_tag 'sale_record[land_size]', nil, class: ' validate[required]' %></td>
                        </tr>
                        <tr>
                          <td>
                            Sale Price*
                            <div class="no-padding" style="float: right;">
                              <div class="hover-info">?
                                <div class="tooltip-custom">
                                  <div class="triangle"></div>
                                  <strong>Tooltip:</strong>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td><%= text_field_tag 'sale_record[price]', nil, class: ' validate[required]' %></td>
                        </tr>

                        <tr>
                          <td>
                            Date Sold*
                            <div class="no-padding" style="float: right;">
                              <div class="hover-info">?
                                <div class="tooltip-custom">
                                  <div class="triangle"></div>
                                  <strong>Tooltip:</strong>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td><%= text_field_tag 'sale_record[sold_date]', "", class: 'date-picker-inline validate[required]' %>
                                      <span> <% #= hidden_field_tag "sale_record[date_sold]"
                                      %> </span></td>
                                </tr>

                        <tr>
                          <td>
                            Cap Rate*
                            <div class="no-padding" style="float: right;">
                              <div class="hover-info">?
                                <div class="tooltip-custom">
                                  <div class="triangle"></div>
                                  <strong>Tooltip:</strong>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td><%= text_field_tag 'sale_record[cap_rate]', nil, class: ' validate[required]' %></td>
                        </tr>
        </table>

      </div>
      <%= render partial: "uploader/shared/custom_fields_sales" %>

    </div>

    <div class="right-box">
      <div class="accordion-content-continue accordion-content-continue-add-record" id="sales-comp-continue-3" >
        <p>Add Record</p>
        <p><%= image_tag("/assets/cloud.png") %></p>
      </div>
    </div>

  </div>
</li>

