<li class="accordion-item accordian-item2 invalid" data-accordion-item>
  <a href="javascript:void(0)" class="accordion-title clearfix"><span>Step 2: Data Set</span><span class="tick"><span>&#x2713;</span></span></a>
  <div class="accordion-content clearfix" data-tab-content>
    <div class="accordion-content-data">
      <%= radio_button_tag 'custom_record[is_existing_data_set]', 'yes', nil, class: 'data-set-type' %>
      <%= label "custom_record[is_existing_data_set]", 'yes', "This is to be added to an existing data set." %><br>
      <%= radio_button_tag 'custom_record[is_existing_data_set]', 'no', nil, class: 'data-set-type' %>
      <%= label "custom_record[is_existing_data_set]", 'no', "This is a new record set." %>

      <div class="data-set-container">
        <div class="new-data-set-container">
            <div class="col-md-6">
              <div class="col-md-8">
                <label><%= check_box_tag 'custom_record[is_geo_coded]', nil, nil, class: 'geo-code-my-records' %> Geo-code my records.</label>
              </div>
              <div class="col-md-4">
                <div class="hover-info">?
                  <div class="tooltip-custom">
                    <div class="triangle"></div>
                    <strong>Tooltip:</strong> Address1, City and State are required column headers in your spreadsheet.
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="columns large-12 no-padding">
          <div class="columns large-12 no-padding">
            <label>Note: All column headers in your spreadsheet must be in row 1.</label>
          </div>
        </div>

        <div class="columns large-12 no-padding bulk-upload-file-section">
          <table>
            <th>Name your upload</th>
            <th>
              <div class="new-data-set-container">
                <input type="text" class="normal-element" name="custom_record[name]">
              </div>
              <div class="existing-data-set-container">
                <%= select_tag 'existing-data-set-dd',
                       options_for_select(get_custom_records.to_a.map { |record| [record.name, record.id] }), prompt: 'Please Choose', class: 'existing-data-set-dd' %>
              </div>
            </th>
            <tr>
              <td colspan="2">
                <%= form_tag '/uploader/import/process_file', multipart: true, remote: true, html:{autocomplete: "off"} do |f| %>
                    <div class="wrapper">
                      <div class="text">
                        <span class="text-to-drop-file">To <strong>UPLOAD</strong> files drag & drop here or </span><span class="link-to-select-file">Select file from your computer</span>
                        <div class="uploaded_file_name"></div>
                      </div>
                      <input type="hidden" name="test" value="success">
                      <input type="file" name="fileToUpload" id="fileToUpload">
                    </div>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="right-box">
      <div class="accordion-content-continue" style="display: none" id="bulk-custom-comp-continue-2">
        <p>Continue</p>
        <p><%= image_tag("uploader/down_continue.png") %></p>
      </div>
      <div class="accordion-content-continue accordion-content-continue-add-record" id="bulk-custom-comp-continue-3">
        <p>Add Record</p>
        <p><%= image_tag("/assets/uploader/cloud.png") %></p>
      </div>
    </div>
  </div>
</li>



<li class="accordion-item accordian-item3 invalid" data-accordion-item style="display:none">
  <a href="javascript:void(0)" class="accordion-title clearfix"><span>Step 3: Mapping</span><span class="tick"><span>&#x2713;</span></span></a>
  <div class="accordion-content clearfix" data-tab-content>
    <div class="accordion-content-data">
      <div class="bulk-upload-mapping fields-table-custom-data">
        <table >
          <tbody></tbody>
          <tfoot></tfoot>
        </table>

      </div>


    </div>

    <div class="right-box">
      <div class="accordion-content-continue accordion-content-continue-add-record" id="bulk-custom-comp-continue-3">
        <p>Add Record</p>
        <p><%= image_tag("/assets/uploader/cloud.png") %></p>
      </div>
    </div>

  </div>
</li>

