<!--main_body_section-start-->
<div class="main_body_section_grey">
  <div class="container">
    <div class="search_content">
      <div class="col-md-8 col-sm-8">
        <div class="radio_main_container">
          <div class="radio radio_color">
            <input type="radio" checked="" value="option1" id="radio1" name="radio1">
            <label for="radio1"> Lease </label>
          </div>
          <div class="radio radio_color">
            <input type="radio" value="option2" id="radio2" name="radio1">
            <label for="radio2"> Sales </label>
          </div>
          <div class="radio radio_color">
            <input type="radio" value="option2" id="radio3" name="radio1">
            <label for="radio3"> Custom </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 both-pad-none">
        <div class="checkbox checkbox-info">
          <input type="checkbox" id="checkbox4">
          <label for="checkbox4"> Within Radius </label>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <div class="search_bar">
          <div id="custom-search-input">
            <div class="input-group col-md-12">
              <input type="text" class="  search-query form-control" placeholder="Search" />
              <span class="input-group-btn">
              <button class="btn btn-danger" type="button"> <span class=" glyphicon glyphicon-search"></span> </button>
              </span> </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 both-pad-none miles_input">
        <input type="text" placeholder="1">
        Miles </div>
      <div class="col-md-2 col-sm-2 both-pad-none"> <a href="#!" class="advance_search_btn">Advance Search</a> </div>
    </div>
  </div>
</div>

<!--main_body_section-end--> 

<!--body_section-inner-->
<div class="body_section_inner">
  <div class=" tx_accordion">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading tx_panel-heading">
          <div class="container">
            <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel1">Advanced Search</a> </h4>
          </div>
        </div>
        <div id="panel1" class="panel-collapse collapse tx_background_black">
          <div class="container">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 tx_clear_fix"> <a href="#!" class="tx-filter-btn">Apply Filters</a> <a href="#!" class="clear-btn">Clear All</a> </div>
                <div class="col-md-4 col-sm-4 both-pad-none">
                  <div class="col-md-6 col-sm6 formgroup_input"> <span>Data Type</span>
                    <div class="btn-group tx_btn_group"> <a class="dropdown-toggle gm-arow" data-toggle="dropdown" href="#!" aria-expanded="true">Please Choose <span class="caret"></span></a>
                      <ul class="dropdown-menu slect-list">
                        <li><a href="#!">Item I</a></li>
                        <li><a href="#!">Item II</a></li>
                        <li><a href="#!">Item III</a></li>
                        <li><a href="#!">Item IV</a></li>
                        <li><a href="#!">Item V</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Other</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 formgroup_input"> <span>Property Type <br/>
                    (Select all that apply)</span>
                    <div class="boxes">
                      <div class="col-md-12">
                        <div class="checkbox checkbox-info">
                          <input type="checkbox" id="checkbox7" >
                          <label for="checkbox7"> Select All </label>
                        </div>
                        <div class="checkbox checkbox-info all_clicked">
                          <input type="checkbox" id="checkbox8">
                          <label for="checkbox8"> Office </label>
                        </div>
                        <div class="checkbox checkbox-info all_clicked">
                          <input type="checkbox" id="checkbox9">
                          <label for="checkbox9"> Multi-family </label>
                        </div>
                        <div class="checkbox checkbox-info all_clicked">
                          <input type="checkbox" id="checkbox9">
                          <label for="checkbox9"> Land </label>
                        </div>
                        <div class="checkbox checkbox-info all_clicked">
                          <input type="checkbox" id="checkbox10">
                          <label for="checkbox10"> Hotel </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-8 col-sm-8 both-pad-none">
                  <div class="col-md-3 col-sm-3 formgroup_input"> <span>SQ FT Range</span>
                    <input type="number" placeholder="Please Choose" max="5" min="1" name="quantity">
                  </div>
                  <div class="col-md-3 col-sm-3 formgroup_input"> <span>Year Sold</span>
                    <div class="btn-group tx_btn_group"> <a class="dropdown-toggle gm-arow" data-toggle="dropdown" href="#!" aria-expanded="true">Please Choose <span class="caret"></span></a>
                      <ul class="dropdown-menu slect-list">
                        <li><a href="#!">Item I</a></li>
                        <li><a href="#!">Item II</a></li>
                        <li><a href="#!">Item III</a></li>
                        <li><a href="#!">Item IV</a></li>
                        <li><a href="#!">Item V</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Other</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 formgroup_input"> <span>Class Type</span>
                    <div class="btn-group tx_btn_group"> <a class="dropdown-toggle gm-arow" data-toggle="dropdown" href="#!" aria-expanded="true">Select<span class="caret"></span></a>
                      <ul class="dropdown-menu slect-list">
                        <li><a href="#!">Item I</a></li>
                        <li><a href="#!">Item II</a></li>
                        <li><a href="#!">Item III</a></li>
                        <li><a href="#!">Item IV</a></li>
                        <li><a href="#!">Item V</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Other</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 formgroup_input"> <span>Filay Connections</span>
                    <div class="btn-group tx_btn_group"> <a class="dropdown-toggle gm-arow" data-toggle="dropdown" href="#!" aria-expanded="true">Please Choose <span class="caret"></span></a>
                      <ul class="dropdown-menu slect-list">
                        <li><a href="#!">Item I</a></li>
                        <li><a href="#!">Item II</a></li>
                        <li><a href="#!">Item III</a></li>
                        <li><a href="#!">Item IV</a></li>
                        <li><a href="#!">Item V</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Other</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-md-12 col-sm-12 both-pad-none">
                    <div class="col-md-4 col-sm-4  formgroup_range"> <span>Price Range</span>
                      <input type="text" placeholder="$">
                      <b> - </b>
                      <input type="text" placeholder="$">
                    </div>
                    <div class="col-md-4 col-sm-4  formgroup_range"> <span>Cap Range</span>
                      <input type="text" placeholder="%" class="text-right">
                      <b> - </b>
                      <input type="text" placeholder="%" class="text-right">
                    </div>
                    <div class="col-md-4 col-sm-4  formgroup_range"> <span>Built Range (year)</span>
                      <input type="text">
                      <b> - </b>
                      <input type="text">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Advanced Search-tab-end--> 
      </div>
      <!--Dashboard-tab-start-->
      
      <div class="panel panel-default">
        <div class="panel-heading tx_panel-heading">
          <div class="container">
            <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel2">Dashboard</a> </h4>
          </div>
        </div>
        <div id="panel2" class="panel-collapse in collapse">
          <div class="container">
            <div class="panel-body panel-body-tx">
              <div class="col-md-1 col-sm-1"> </div>
              <div class="col-md-5 col-sm-5">
                <div class="tx_profile_section">
                  <div class="col-md-12 col-sm-12">
                    <h1 class="profile_hadding">Profile</h1>
                    
					<%= link_to "Edit Profile", profile_update_path, :class => "tx_edit_btn" %>
					 </div>
                  <div class="tx_profile_detail_section">
                    <div class="col-md-6 col-sm-6">
                      <div class="tx_profile_image"> 
					  <%####= image_tag("user-img.jpg") %> 
					  <%= image_tag current_user.avatar_url.to_s %>
					  </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <ul class="tx_profile_detail_content">
                        <li><%= current_user.username %></li>
                        <li>Company & Co<%##= current_user.username ####company %></li>
                        <li><%= current_user.mobile %></li>
                        <li>
						<%= current_user.email.scan(/.{1,25}/m).join("<br>").html_safe %>
						<%  ##profile_email = current_user.email %>
						<% ## profile_email.insert(26, '<br>').html_safe %>
						
						</li>
                      </ul>
                    </div>
                    <div class="col-md-9 col-sm-9">
                      <div class="tx_raiting_box">
                        <div class="col-md-6">
                          <div class="tx_raiting_color_box tx_raiting_color_picker"> </div>
                        </div>
                        <div class="col-md-6 user_raiting_content">
                          <h6>User Rating:</h6>
                          <h3>GOOD <a title="" data-toggle="tooltip" class="" href="#" data-original-title="Raiting....???">
						  <%= image_tag("question-tol-tipp.jpg") %>
						  </a></h3>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-3"> </div>
                  </div>
                </div>
                <div class="tx_profile_section">
                  <div class="col-md-12 col-sm-12">
                    <h1 class="profile_hadding">User Preferences</h1>
					
                    <a href="#!" class="tx_edit_btn" data-toggle="modal" data-target="#myModal">Edit </a>
					
					</div>
                  <div class="col-md-12 col-sm-12 tx_notification_content">
                  <p>Text/SMS Notifications 
				  <a href="javascript:void()">
				  <% if @user_settings.sms%>
				  	<%= image_tag("tx_good.png") %>
				  <% else %>
				  	<%= image_tag("tx_xras.png") %>
				  <% end %>
				  </a>
				  </p>
                    <p>Email Notification 
					<a href="javascript:void()">
					<% if @user_settings.email%>
				  		<%= image_tag("tx_good.png") %>
				  	<% else %>
				  		<%= image_tag("tx_xras.png") %>
				  	<% end %>
					</a>
				  </p>
                  </div>
                </div>
                <div class="tx_profile_section">
                  <div class="col-md-12 col-sm-12">
                    <h1 class="profile_hadding">Backend Status</h1>
                    <a href="#!" class="tx_edit_btn">Edit Profile</a> </div>
                  <div class="col-md-5 col-sm-5 tx_notification_stetas">
				  <%= image_tag("stetas-tx.png") %>
                  </div>
                    <div class="col-md-7 col-sm-7 tx_notification_stetas">
                    <a data-original-title="Status" href="#" class="" data-toggle="tooltip" title=""><%= image_tag("qusteion_toltip.png") %></a>
                    </div>
                </div>
              </div>
              <div class="col-md-5 col-sm-5"> 
               <div class="tx_activity_section">
               <h1 class="activity_hadding">Activity Tracker</h1>
               <div class="col-md-12 col-sm-12 both-pad-none"> 
               <div class="tx_tracker_box tx_tracker_box_color">
               <div class="col-md-4">
               <div class="tx_tracker_box_round_content">
             <p> L</p>
               </div>
                
               </div>
               <div class="col-md-8 tx_tracker_box_text_content">
                <h2>253</h2>
                <h3>Lease Comps</h3>
                <a href="#!">Incoming Request <span>(11)</span></a>
                   <a href="#!">Outgoing Request <span>(17)</span></a>
                </div>
               </div>
               <div class="tx_tracker_box tx_tracker_box_color_orange">
               <div class="col-md-4">
               <div class="tx_tracker_box_round_content">
             <p class="tx_orange_color"> S</p>
               </div>
                
               </div>
               <div class="col-md-8 tx_tracker_box_text_content">
                <h2>253</h2>
                <h3>Lease Comps</h3>
                <a href="#!">Incoming Request <span>(11)</span></a>
                   <a href="#!">Outgoing Request <span>(17)</span></a>
                </div>
               </div>
               <div class="tx_tracker_box tx_tracker_box_yellow ">
               <div class="col-md-4">
               <div class="tx_tracker_box_round_content">
             <p class="tx_yellow_color">  C</p>
               </div>
                
               </div>
               <div class="col-md-8  tx_tracker_box_text_content">
                <h2>
				<% con_str = Connections.current_user_connections(current_user).strip.split /\s+/%>
				<%= con_str[0]%>
				</h2>
                <h3><%= con_str[1]%></h3>
				
				<%= link_to "Pending <span>(#{Connections.getConnections(current_user,"pending").length})</span>".html_safe, connections_path(:ctype => "pending") %>
				
                <%= link_to "Sent <span>(#{Connections.getConnections(current_user,"sent").length})</span>".html_safe, connections_path(:ctype => "sent") %>
				
                </div>
               </div>
               <div class="tx_tracker_box tx_tracker_box_green ">
               <div class="col-md-4">
               <div class="tx_tracker_box_round_content">
             <p class="tx_green_color">  M</p>
               </div>
                
               </div>
               <div class="col-md-8 tx_tracker_box_text_content">
                <h2>253</h2>
               
                <a href="#!">Incoming Request <span>(11)</span></a>
                   <a href="#!">Outgoing Request <span>(17)</span></a>
                   <a href="#!"><%= image_tag("box-edit.png") %></a>
                </div>
               </div>
               
               
               </div>
               </div>
              </div>
              <div class="col-md-1 col-sm-1"> </div>
            </div>
          </div>
        </div>
      </div>
      
      <!--Dashboard-tab-end--> 
      
      <!--<div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel3">Panel 3</a>
            </h4>
        </div>
        <div id="panel3" class="panel-collapse collapse">
            <div class="panel-body">
                Contents panel 3
            </div>
        </div>
    </div>--> 
    </div>
  </div>
</div>
<!--body_section-inner-end--> 




<%= form_for(:UserSettings, url: profile_preferences_path, html: { :id => '' }) do |f| %>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog tx_modal_dailog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header tx_modal_header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title tx_modal_title">USER PREFERENCES</h4>
        </div>
        <div class="modal-body tx_modal_body">
         <div class="col-md-12 modal_content">
         	<h5>Text/SMS Notifications</h5>
            <label class="switch">
            <span class="tx_onoff">Off/On</span>
  <%= f.check_box :sms , checked: @user_settings.sms %>
  <div class="slider round"></div>
</label>
         </div>
         <div class="col-md-12 modal_content">
         	<h5>Email Notification</h5>
            <label class="switch">
  <%= f.check_box :email , checked: @user_settings.email %>
  <div class="slider round"></div>
</label>
         </div>
        </div>
        <div class="modal-footer tx_modal_footer">
          <p><button type="submit" class="tx_modal_save">Save</button> </p>
          <p><a href="#" class="tx_modal_cencel" data-dismiss="modal">Cancel</a></p>
        </div>
      </div>
      
    </div>
  </div>


<% end %>

