<tr>

  <td width="196" height="58" class="result_line tx_border_right"><p><%= comp_request.tenant_record.user.name %></p></td>
  <td width="67" class="tx_hand_right">
    <a href="#" data-href="<%= comp_requests_remind_path %>" data-request-id="<%= comp_request.id %>"><%= image_tag("hand-right.png")%></a>
  </td>

  <td width="340" class="result_line result_img_icon">
    <p><%= image_tag("tbl-img.jpg")%> <%= "#{comp_request.tenant_record.complete_address}" %></p>
  </td>

  <td width="176" class="result_line"><p>Locked</p></td>
  <td width="193" class="result_line"><p>Locked</p></td>
  <td width="144" class="result_line"><p><%= sf_range(comp_request.tenant_record.size) %></p></td>
  <td width="144" class="result_line"><p><p><%= comp_request.tenant_record.lease_commencement_date.year %></p></td>
  <!-- <td width="124" class="result_line"><p>4,000-9,999</p></td> -->
  <!-- <td width="98" class="result_line"><p>1971</p></td> -->
</tr>