<div class="container">
  <div class="comp-width-container">
    <div class="col-md-12 comp-background-container ">
      <button type="button" class="close tx_close" data-dismiss="modal" aria-hidden="true"><%= image_tag("xras-icon.png") %></button>
     <br/><br/>
      <div class="comp-table-container">
      	
        <h1 class="detail-comp-hadding">Custom Transparency</h1>
        <br/>
        Tier 3 – your connection is NOT granted full access but may access only those details that you give permission to access. Your connection does not have the ability to grant access to the comp or any information in the comp to anyone
        
        <%= form_tag partial_transparency_update_path do %>
        <table width="100%" border="0">
          <tr>
            <td height="104"><h1 class="comp-table-hadding">Sale</h1></td>
            <td><h1 class="comp-table-hadding"></h1></td>
            <td><h1 class="comp-table-hadding">Building</h1></td>
            <td><h1 class="comp-table-hadding"></h1></td>
          </tr>
          <tr>
            <td><p class="comp-table-pre">Size (SF)</p></td>
            <td><p class="comp-table-pre"><input type="checkbox" name="unlock[land_size]"> <%= number_with_precision(@comp_record.land_size,:precision => 0,:delimiter => ',')%></p></td>
            <td><p class="comp-table-pre">Property Name </p></td>
            <td><p class="comp-table-pre">
            	<!-- <input type="checkbox" name="unlock[]"> -->
            	&nbsp;<%#=@comp_record.property_name.to_s.capitalize!%>
            	</p>
            </td>
          </tr>
          <tr>
            <td><p class="comp-table-pre">Sale Price </p></td>
            <td><p class="comp-table-pre"><input type="checkbox" name="unlock[price]"> <%= number_to_currency(@comp_record.price.to_f, {:precision=>2})%></p></td>
            <td><p class="comp-table-pre">Property Type</p></td>
            <td><p class="comp-table-pre"><input type="checkbox" name="unlock[property_type]"> <%= @comp_record.property_type.to_s.capitalize! %> </p></td>

          </tr>
          <tr>
            <td><p class="comp-table-pre">Year Sold</p></td>
            <td><p class="comp-table-pre"><input type="checkbox" name="unlock[sold_date]" checked="checked" disabled="disabled"> <%=@comp_record.sold_date.year%> </p></td>

            <td><p class="comp-table-pre">Class Type</p></td>
            <td><p class="comp-table-pre"><input type="checkbox" name="unlock[class_type]"> <%=@comp_record.class_type.to_s.capitalize!%> </p></td>
          </tr>
          
          <tr>
            <td><p class="comp-table-pre">Cap Rate (%) </p></td>
            <td><p class="comp-table-pre"><input type="checkbox" name="unlock[cap_rate]"> <%=@comp_record.cap_rate%>%</p></td>


            <td><p class="comp-table-pre">Year Built</p></td>
            <td><p class="comp-table-pre"><input type="checkbox" name="unlock[build_date]"> <%= (@comp_record.build_date.blank? == true)?"":@comp_record.build_date.strftime('%Y')%> </p></td>
          </tr>
          
          
        </table>
        
        <table width="48%" border="0" class="pull-left">
          <tr>
            <td width="214" height="104"><h1 class="comp-table-hadding">Location</h1></td>
            <td width="272" height="104"><h1 class="comp-table-hadding"></h1></td>
          </tr>
          <tr>
            <td><p class="comp-table-pre">Address</p></td>
            <td><p class="comp-table-pre"><input type="checkbox" name="unlock[address1]" checked="checked" disabled="disabled"> <%=@comp_record.address1%></p></td>
          </tr>
          <tr>
            <td><p class="comp-table-pre">Suite</p></td>
            <td><p class="comp-table-pre">
              <!--402-->
            </p></td>
          </tr>
          <tr>
            <td><p class="comp-table-pre">City</p></td>
            <td><p class="comp-table-pre"><input type="checkbox" name="unlock[city]"> <%=@comp_record.city%></p></td>
          </tr>
          <tr>
            <td><p class="comp-table-pre">State</p></td>
            <td><p class="comp-table-pre"><input type="checkbox" name="unlock[state]"> <%=@comp_record.state%></p></td>
          </tr>
          <tr>
            <td><p class="comp-table-pre">Zip Code</p></td>
            <td><p class="comp-table-pre"><input type="checkbox" name="unlock[zipcode]"> <%=@comp_record.zipcode%></p></td>
          </tr>
          <tr>
            <td><p class="comp-table-pre">Submarket</p></td>
            <td><p class="comp-table-pre">
              <!--Downtown-->
            </p></td>
          </tr>
        </table>
        
        <table width="100%" border="0">
        <tr>
            <td colspan="4" align="center"><button type="button" class="tx_save_profile submitpartial" style="float: none;">Save</button></td>
            <!-- <input type="hidden" name="partial_comp_id" id="partial_comp_id" /> -->
            <input type="hidden" name="id" id="partial_id" />

          </tr>
        </table>
        
        <% end %>
      </div>
    </div>
    
  </div>
</div>
