<div class="body_section_inner">
  <div class="container ">
    <div class="col-md-12">
      <div class="bc_white">

            <%= render :partial => 'partials/activity_log_header'%>


        <div class="tx_search_result_table_container">

          <% if params[:direction] == 'incoming' and @comp_requests.count > 0 %>
              <div class="short_by_incomming">
                <div class="checkbox checkbox-info lock_list_check">
                  <input type="checkbox" id="checkbox1">
                  <label for="checkbox1">Select All</label>
                </div>
                <ul class="short_by_incomming_list">
                  <li class="short_seclet_list">
                    <select class="selectpicker">
                      <option>Sort By</option>
                      <!--<option>Ketchup</option>
                      <option>Relish</option>-->
                    </select>
                  </li>
                  <li><a href="#!" class="tx_cline" data-href="<%= delete_comp_requests_url %>" data-comptype="<%= params[:comp_type]%>" id="btn-decline-comp-request" data-status="Decline">Ignore</a></li>
                  <!-- <li><a class="btn_blue_half" data-href="<%= comp_requests_update_url %>" id="btn-accept-comp-request" data-status="Approve">Approve</a></li> -->
                </ul>

                <div class="round_lock">
                  <ul class="tx_lock_list">
                    <!-- <li><a class="btn-comp-request-status" data-status="Partial"><%= image_tag("un-lock.png")%></a></li> -->
                    <li>
                    	<a href="#!" class="btn-comp-request-status lock-n active_trans" data-status="Unlock" data-toggle="modal"  data-target="#Modalfull" data-tooltip="tooltip" title="Click to see full transparency options" data-placement="top">
                    		<%= image_tag("lock-un.png")%> 
                    	</a>
                    	<a class="btn-comp-request-status lock-n inactive_trans"><%= image_tag("lock-un.png")%></a>
                    </li>
                    <li>
                    	<a href="#!" class="btn-comp-request-status lock-p active_trans" data-status="Lock" data-toggle="modal"  data-target="#Modalpartial" data-tooltip="tooltip" title="Click to see custom transparency options" data-placement="top"><%= image_tag("lock-b.png")%></a>
                    	<a class="btn-comp-request-status lock-p inactive_trans lock-b-gray" ><%= image_tag("lock-b-gray.png")%></a>
                    </li>
                  </ul>
                </div>

              </div>

          <% end %>


          <% if @comp_requests.count > 0 %>
          <div class="tx_search_result_table_container perfectScrollbar-wheel  padding-hidden">

            <%= form_tag(comp_requests_path, id:"incoming_form") do %>

                <input type="hidden" name="astatus" id="astatus_id" />

                <table width="100%" border="0" class="tx_search_result_table table_full">
                  <tr class="tx_search_result_first_row">
                    <td width="56" height="51"></td>
                    <td width="145">Header <a href="#!"> <i class="fa fa-caret-down"></i> </a></td>
                    <td width="334">Address <a href="#!"> <i class="fa fa-caret-down"></i> </a></td>
                    <td width="120">Company <a href="#!"> <i class="fa fa-caret-down"></i> </a></td>
                    <td width="102">Type <a href="#!"> <i class="fa fa-caret-down"></i> </a></td>
                    <td width="97">Header <a href="#!"> <i class="fa fa-caret-down"></i> </a></td>
                    <td width="104">Header <a href="#!"> <i class="fa fa-caret-down"></i> </a></td>
                    <td width="122">Header <a href="#!"> <i class="fa fa-caret-down"></i> </a></td>
                    <td width="118">Header <a href="#!"> <i class="fa fa-caret-down"></i> </a></td>
                    <td width="34"></td>
                  </tr>


                    <%= render @comp_requests %>

                </table>

            <% end %>


          </div>
          <% else %>
              <div class="alert alert-warning" role="alert">No pending request at the moment</div>
          <% end %>


      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="Modalfull" tabindex="-1" role="dialog" aria-labelledby="Modallease" aria-hidden="true">
  <div class="modal-dialog  tx_invite_modal-dialog">
    <div class="modal-content">
      <%= form_tag full_transparency_path do %>
          <div class="modal-header  tx_invite_modal-header">
            <button type="button" class="close tx_close" data-dismiss="modal" aria-hidden="true"><%= image_tag("xras-icon.png") %></button>
            <h4 class="modal-title" id="myModalLabel">Full Transparency</h4>
          </div>
          <div class="modal-body tx_invite_modal-body tire12">

<div class="text-left">
            <input type="checkbox" name="access" value="full" class="chkfull"> 
            Tier 1 - your connection is granted full access and the comp is added to your connection’s account. Therefore, your connection CAN unlock the comp for any of their direct connections.
</div>
<br />
<div class="text-left">

			<input type="checkbox" name="access" value="partial" class="chkfull"> 
			Tier 2 – your connection is granted full access but the comp is NOT added to your connection’s account. Therefore, they DO NOT have the ability to grant access to anyone.
</div>
            

          </div>

          <div class="modal-footer text-center">

            <button type="button" class="btn btn-primary invite_save" id="btn-grant-access">Approve</button>
            <input type="hidden" name="id" id="access_comp_id">
          </div>
      <% end %>

    </div>
  </div>
</div>


<div class="modal fade" id="Modalpartial" tabindex="-1" role="dialog" aria-labelledby="Modalsale" aria-hidden="true">
	
	<div id="load_popup_modal_show_id">
		<div id="trans_spinner" style="top: 50%; left: 50%; position: absolute; display: none;"><i class="fa fa-spinner fa-spin" aria-hidden="true" style="font-size: 50px;"></i></div>
	</div>
	
</div>

<script type="text/javascript">
var partial_popup_path = '<%= partial_popup_path%>';

</script>

<style>
	/* line 231, /vagrant/marketrexv4/app/assets/stylesheets/dashboard.css.scss */
.ui-tooltip-content, .ui-tooltip {
  min-width: none !important;
  background: #000;
  color: #ffffff;
  border: none;
  
}
.active-locl a{background: none !important;}

</style>

