<!--main_body_section-start-->
<%= form_for(:user, url: {:controller => 'profile', :action => 'update', :id => @user.id}, html: { method: :post }) do |f| %>

<div class="main_edit_section">
  <div class="container">
  <div class="col-md-12">
  <h1 class="main_edit_hadding">Edit/ Complete Profile</h1>
  </div>
  <div class="col-md-12">

  <div class="edit_content_eria">
  <div class="col-md-12 col-sm-12 tx_profilebtn_section">
  <h2>Profile</h2>
  
  <ul>
 
   <!--<li>
   <%= link_to "Change Password", {:controller => 'profile', :action => 'password', :id => @user.id}, :class => "tx_linkdin_profile" %>
   </li>-->
    <li class="">
      <%= link_to 'Go Back',{:controller => 'users', :action => 'dashboard'} , :class => "tx_linkdin_profile" %>
    </li>
   <li>
   <%= f.submit "Save Profile" , :class => "tx_save_profile" %>
   </li>
  </ul>
  
  </div>
  <div class="tx_edit_full_width tx_edit_margin">
  <div class="col-md-3 col-sm-3">
  	<div class="tx_upload_img">
	
	<%###= image_tag @user.avatar_url.to_s %>
      <% if @user.linkedin_photo != "" %>
          <%= image_tag @user.linkedin_photo.to_s %>
      <% else %>
	    <%= image_tag @user.avatar_url.to_s %>
      <% end %>
	
	<%###= image_tag("upload.jpg")%>
    
    <label class="myLabel">
    <!--<input type="file"/>-->
    <span id="select_p_image"><%= image_tag("upload-icon.png")%> Change Image</span>
</label>
    </div>
  </div>
  <div class="col-md-3 col-sm-3">
  <ul class="tx_profile_information">
    <li class="tx_bold">Basic Information</li>
    <!--<li>Username*</li>-->
    <li>First Name*</li>
    <li>Last Name*</li>
    <li>Title</li>
    <li>Maximum Exports Allowed</li>
    <li>Password</li>
  </ul>
  
  </div>
  <div class="col-md-3 col-sm-3">
  <ul class="tx_profile_information">
    <li class="tx_bold">&nbsp;</li>

    <li class="inline-edit-text">&nbsp;<span><%= @user.first_name%></span><%= f.hidden_field :first_name %></li>
    <li class="inline-edit-text">&nbsp;<span><%= @user.last_name%></span><%= f.hidden_field :last_name %></li>
    <li class="inline-edit-text">&nbsp;<span><%= @user.title%></span><%= f.hidden_field :title %></li>
    <li class="inline-edit-text">&nbsp; <span><%= @user.total_export_permissions %></span><% if @role == 'admin' %><%= f.hidden_field :total_export_permissions %><% end %></li>
    <li>&nbsp;</li>
  </ul>
  </div>
  <div class="col-md-3 col-sm-3">
  <ul class="tx_profile_information">
    <li class="tx_bold">&nbsp;</li>

    <li><a href="#!" class="inline-edit">Edit</a></li>
    <li><a href="#!" class="inline-edit">Edit</a></li>
    <li><a href="#!" class="inline-edit">Edit</a></li>
    <% if @role == 'admin' %>
      <li><a href="#!" class="inline-edit">Edit</a></li>
    <% else %>
      <li><label class="inline-edit">&nbsp;</label></li>
    <% end %>
    <li><a href="#!<%=profile_password_path%>" id="change_password" >Edit</a></li>
  </ul>
  </div>
  </div>
   <div class="tx_edit_full_width ">
  <div class="col-md-3 col-sm-3">
  	
  </div>
  <div class="col-md-3 col-sm-3">
  
  <ul class="tx_profile_information">
  <li class="tx_bold">Contact Information</li>
  <li>Business Email*</li>
  <li>Mobile Phone #*</li>
  <li>Firm Name*</li>
  <li>Street Address*</li>
  <li>City*</li>
  <li>State*</li>
  <li>Zip Code*</li>
  <li>Website</li>
  </ul>
  </div>
  <div class="col-md-3 col-sm-3">
  <ul class="tx_profile_information">
  <li class="tx_bold">&nbsp;</li>
  <li class="inline-edit-text">&nbsp;<span><%= @user.email%></span><%= f.hidden_field :email %></li>
  <li class="inline-edit-text">&nbsp;<span><%= @user.mobile%></span><%= f.hidden_field :mobile , required: true, pattern: '^\+?[0-9]{1,3}-?[0-9]{6,12}$', title: 'format: +1202555012'%></li>
  <li class="inline-edit-text">&nbsp;<span><%= @user.firm_name%></span><%= f.hidden_field :firm_name %></li>
  <li class="inline-edit-text">&nbsp;<span><%= @user.address%></span><%= f.hidden_field :address %></li>
  <li class="inline-edit-text">&nbsp;<span><%= @user.city%></span><%= f.hidden_field :city %></li>
  <li class="inline-edit-text">&nbsp;<span><%= @user.state%></span><%= f.hidden_field :state %></li>
  <li class="inline-edit-text">&nbsp;<span><%= @user.zip%></span><%= f.hidden_field :zip %></li>
  <li class="inline-edit-text">&nbsp;<span><%= @user.website%></span><%= f.hidden_field :website %></li>
  </ul>
  </div>
  <div class="col-md-3 col-sm-3">
  <ul class="tx_profile_information">
  <li class="tx_bold">&nbsp;</li>
  <li><a href="#!" class="inline-edit">Edit</a></li>
  <li><a href="#!" class="inline-edit">Edit</a></li>
  <li><a href="#!" class="inline-edit">Edit</a></li>
  <li><a href="#!" class="inline-edit">Edit</a></li>
  <li><a href="#!" class="inline-edit">Edit</a></li>
  <li><a href="#!" class="inline-edit">Edit</a></li>
  <li><a href="#!" class="inline-edit">Edit</a></li>
  <li><a href="#!" class="inline-edit">Edit</a></li>
  </ul>
  </div>
  
  </div>
  <div class="col-md-12 col-sm-12 tx_profilebtn_section">
  
  
  <ul>
  <li class="valign">
  <%= link_to "Delete Account", "#!", :class => "text-danger delete_me" %>
  </li>
    <li>
   <%= f.submit "Save Profile" , :class => "tx_save_profile" %>  
   </li>
  </ul>
  
  </div>
  </div>
 
   </div>
  </div>
</div>

<% end %>

<% if @role == 'admin' %>
   <%= button_to "Cancel my account", {:controller => 'profile', :action => 'destroy', :id => @user.id}, data: { confirm: "Are you sure?" } ,:class => "hide target_delete_me" %>
  <% else %>
    <%= button_to "Cancel my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete ,:class => "hide target_delete_me" %>
<% end %>


<%= form_for(:user, url: profile_picture_path(:id => @user.id),  html: { :multipart => true , :id => 'upload_p_form' }) do |f| %>

<div class="hide"> 
   <%= f.file_field :avatar , :id => "upload_me" %>
</div>

<% end %>

<script>
var inline_edit = false;

$(document).ready(function() {
 $(".inline-edit").click(function() { 
 inline_edit = true;
 click_index = $(this).closest('.inline-edit').index('.inline-edit');
 var edit_text = $( ".main_edit_section" ).find( "li.inline-edit-text" ).eq( click_index );
 edit_text.addClass("set-editable-css");
 edit_text.find("span").hide();
 edit_text.find("input").attr('type', 'text'); 

 
  
 });

});

$('#select_p_image').on('click', function() {
    $('#upload_me').trigger('click');
	
	$('#upload_me').change(function() {
  		$('#upload_p_form').submit();
	});
});

$('.delete_me').on('click', function() {
    $('.target_delete_me').trigger('click');
});

$('#change_password').on('click', function() {
	if (inline_edit) {
		uiConfirm('Profile', 'You have not save changes to your profile. Are you sure you want to leave this page', function (){
    	document.location.href = "/profile/password/<%=@user.id%>";
		});
	} else {
		document.location.href = "/profile/password/<%=@user.id%>";
	}
});

</script>

<style>
.tx_profile_information li a { margin: 0 0 10px 0 !important; }

.set-editable-css input {
    transition: all 0.3s ease 0s;
    border: 0;
    outline: 1px solid #ccc;
    padding: 0 0 0 9px;
}
.valign{bottom:20px;}
</style>

<!--main_body_section-end--> 