<!DOCTYPE html>
<html>
<head>
  <title>MarketRex</title>
  <meta name="viewport" content="width=1300" />

  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "jquery.min",'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <%= javascript_tag do %>
      window.TENANTREX = {};
    <% end %>

  <%= content_for?(:html_head) ? yield(:html_head) : "" %>

</head>
<body class="grey_background  <%= controller.controller_name %> <%= controller.action_name %>">

    <div class="wrap">

      <div class="header">
        <!--navigation-start-->
            <%= render 'layouts/navigation' %>
        <!--navigation-end-->
      </div> <!--/header -->

      <div class="middle">
        <!--main_body_section-start-->

        <%= content_for?(:sub_header) ? yield(:sub_header) : "" %>


        <%= render 'layouts/flash' %>

        <%= content_for?(:content) ? yield(:content) : yield %>

        <!--main_body_section-end-->
      </div> <!--/middle -->

    </div> <!--/wrap -->

    <!--footer-start-->
    <%= render 'layouts/footer' %>
    <!--footer-end-->

    <div class="ajax-loading"><div>Loading <img src="<%= image_url('ajax-loading.gif') %>" /></div></div>
	
	 <!--<script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=drawing"></script>-->

    <%= javascript_include_tag :application, 'data-turbolinks-track' => true %>

    <%= yield :javascript_includes %>
</body>
</html>
